<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <app-card [title]="'Asistente de creación de solicitud'">
                <div class="form-group col-md-12 col-sm-12">
                    <label class="col-form-label col-md-12">
                        <strong> Solicitudes asociadas a la orden: {{numSol}} </strong>
                    </label>
                </div>
                <span [@visibility]="sucursalC" class="m-b-20">Por favor seleccione la sucursal para la creación de la
                    orden de servicio</span>
                <div [@visibility]="sucursalC" class="form-group col-md-12 col-sm-12">
                    <label class="col-form-label col-md-2">
                        <strong> Sucursal</strong>
                    </label>
                    <select ng-readonly="" class="form-control col-md-10" style="float:right"
                        (change)="onChangeSucursal($event)">
                        <option value="" disabled="true" [selected]="true">Seleccione una opción.</option>
                        <option *ngFor="let n of sucursal" [value]="n.id">{{n.name}}</option>
                    </select>   
                </div><br>
                <span class="m-b-20">Siga paso a paso el asistente para la generación de la solicitud</span>
                <form [formGroup]="invoiceForm">
                    <div formArrayName="itemRows">
                        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"
                            [formGroupName]="i">
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Agrupador</strong>
                                            </label>
                                            <select class="form-control" (ngModel)="gSelect" formControlName="grouper"
                                                (ngModelChange)="onChangeGroup($event)">
                                                <option value="" [selected]="true">Seleccione una opción</option>
                                                <option *ngFor="let n of data" [value]="n.id">{{n.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-5 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Material</strong>
                                            </label>
                                            <select class="form-control" formControlName="materials"
                                                (click)="onChangeMaterial($event, $event.target.value)">
                                                <option value="" [selected]="true">Seleccione una opción</option>
                                                <option *ngFor="let m of material" [value]="m.id+','+m.data">{{m.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-2">
                                            <label class="col-form-label">
                                                <strong>U/Medida</strong><br>
                                            </label>
                                            <label class="form-control" style="background:#dddddd" id="um" aria-disabled="true">  --  </label>
                                        </div>

                                        <div class="form-group col-md-5 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Cantidad</strong>
                                            </label>
                                            <input type="number" min="1" class="form-control" formControlName="qty">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Tipo de Embalaje</strong>
                                            </label>
                                            <select class="form-control" formControlName="pk"
                                                (change)="onChangePackage($event)">
                                                <option value="0" [selected]="true">Otro</option>
                                                <option *ngFor="let p of package" [value]="p.id">{{p.label}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Cant Embalaje</strong>
                                            </label>
                                            <input type="number" min="1" class="form-control" formControlName="qtyPack"
                                                (change)="onChangeCantEmbla($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12" [@visibility]="sucursalC">
                                    <div class="row">
                                        <!-- <div [@visibility]="cantEmba" class="row"> -->
                                        <div [@visibility]="PagoAnticipo" class="form-group col-md-12 col-sm-12">
                                            <input type="checkbox" formControlName="Pago_Anticipo"
                                                (change)="pagoAction()" />
                                            <label class="col-form-label">
                                                <strong>Pago anticipado</strong>
                                            </label>
                                            

                                            <input *ngIf="Pago_Anticipo_ena" type="file" id="Pago_Anticipo_file"
                                                formControlName="Pago_Anticipo_file" name="Pago_Anticipo_file"
                                                class="form-control" (change)="onFileChange($event)" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div [@visibility]="Servicio_Posfechado" class="form-group col-md-12 col-sm-12">
                                            <input type="checkbox" formControlName="Servicio_Posfechado"
                                                (change)="servicioPostFAction()" />
                                            <label class="col-form-label">
                                                <strong>Servicio posfechado</strong>
                                            </label>
                                            <br>
                                            <input *ngIf="servicioPostF" id="date" type="date"
                                                formControlName="Servicio_Posfechado_fecha">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div [@visibility]="Recoleccion" class="form-group col-md-12 col-sm-12">
                                            <input type="checkbox" formControlName="Recoleccion"
                                                (change)="recolAction()" />
                                            <label class="col-form-label">
                                                <strong>Recolección</strong>
                                            </label>
                                        </div>

                                        <div [@visibility]="Recepcion" class="form-group col-md-12 col-sm-12">
                                            <input type="checkbox" formControlName="Recepcion"
                                                (change)="receptAction()" />
                                            <label class="col-form-label">
                                                <strong>Recepción</strong>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div [@visibility]="Presenciales" class="form-group col-md-12 col-sm-12">
                                            <input type="checkbox" formControlName="Presenciales" />
                                            <label class="col-form-label">
                                                <strong>Presenciales</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- </div> -->
                            <!--<div [@visibility]="cantEmba" class="form-group col-md-4 col-sm-12">
                                    <label class="col-form-label"><strong>Cnt Embalaje</strong></label>
                                    <input type="number" class="form-control" formControlName="qtyPack" (change)="onChangeCantEmbla($event)">
                                </div> -->
                            <!--
    Recoleccin
Presencial
Recepcin
Posfechar_Servicios
Bool:Anticipo
Soporte_de_Pago 
-->
                            <!-- <div class="form-group col-md-2 col-sm-12">
                                    <p class="col-form-label"><strong>Agregar solicitud</strong></p>
                                    <button (click)="addNewRow(itemrow)" class="btn btn-info" *ngIf="itemrow.valid"><i class="icofont icofont-plus"></i></button>
                                    <button (click)="deleteRow(i)" class="btn btn-danger" *ngIf="i > 0"><i class="icofont icofont-close"></i></button>
                                </div> -->

                            <div class="col-md-12" [@visibility]="stop">
                                <input type="checkbox" formControlName="accept" />
                                <label class="m-b-20">
                                    Acepto la declaración de responsabilidad del residuo
                                </label>
                                <span class="m-b-20">
                                    Por medio de la presente, el cliente y quien a su nombre firma como responsable la
                                    certificación a continuación, declara
                                    que los anexos y la información asociada a las características del material
                                    descritas
                                    en este documento son verídicas, están completas y corresponden a la realidad, así
                                    mismo
                                    que todos los riesgos asociados a las sustancias han sido informadas en su totalidad
                                    al receptor. De igual manera certifica que se hace responsable por todo contenido
                                    químico
                                    no declarado, así como por las responsabilidades derivadas del mismo. Certifica
                                    además
                                    que se compromete a cumplir sus responsabilidades como generador y a entregar los
                                    residuos
                                    en cumplimiento con estas responsabilidades.
                                </span>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12" *ngIf="invoiceForm.valid">
                                <div class="center-block">
                                    <button (click)="addNewRow(itemrow)"
                                        class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">AGREGAR
                                        OTRA SOLICITUD</button>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="invoiceForm.valid">
                                <div class="center-block">
                                    <button (click)="saveGetOut(0)"
                                        class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">GUARDAR
                                        Y SALIR</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="center-block">
                                    <button (click)="getOut()"
                                        class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>