<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <app-card [title]="'Asistente para la creación de PQS'">
                <div class="center-block">
                    <p class="text-center">
                        Le damos la bienvenida a nuestro módulo de creación de solicitudes de Quejas, Peticiones y
                        Sugerencias.
                        <br>
                        ¡Trabajamos para fortalecer nuestro servicio y continuar el camino hacia la excelencia
                        operativa!
                    </p>
                </div>
                <!-- <div class="form-group col-md-12 col-sm-12">
                    <label class="col-form-label col-md-12">
                        <strong><p class="text-center">GENERACIÓN DE PQS</p></strong>
                    </label>
                </div> -->
                <!-- 

                    * CREAR PQS: Tipo PQS. Campo integración: Tipo_PQS (lista despegable: Petición, Queja, Sugerencia). Objeto: PQS
    CREAR PQS: Cliente. Campo integración: R9493390 (relación ID clientes).  Objeto: PQS
    CREAR PQS: Proceso. Campo integración: R9551230 (relación. Objeto: Proceso_PQS). Objeto: PQS
    CREAR PQS: Servicio/producto. Campo integración: R9562842 (relación. Objeto: Tipo_de_producto_pqs). Objeto: PQS
    CREAR PQS: Procedencia. Campo integración: Procedencia (lista desplegable: Auditoría del cliente, Aviso de calidad, Correo del cliente, Llamada del cliente, Visita a planta). Objeto: PQS
    CREAR PQS: Contacto. Campo integración: R9493393 (relacion ID contactos). Objeto: PQS
    CREAR PQS: Motivo. Campo integración: R9551212 (relacion. Objeto: Motivo_PQS). Objeto: PQS
    CREAR PQS: Detalle. Campo integración: Detalle (area de texto). Objeto: PQS
    CREAR PQS:Evidencias. Campo integración: R9961708 (relacion. Objeto: Evidencia_PQS). Objeto: PQS
    VER PQS: Compromiso. Campo integración: Tarea (Área de texto). Objeto: Tareas
    VER PQS: Tiene entregable. Campo integración: Tiene_Entregable_ (botones de radio). Objeto: Tareas
    VER PQS: Entregable. Campo integración: Entregable (area de texto). Objeto: Tareas
     *
                 -->
                <form [formGroup]="invoiceForm">
                    <div formArrayName="itemRows">
                        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"
                            [formGroupName]="i">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>1. Elija el tipo de PQS a generar <strong style="color: red">*</strong></strong>
                                            </label>
                                            <select class="form-control" formControlName="Tipo_PQS">
                                                <option value="" disabled="true" [selected]="true">Seleccione una
                                                    opción</option>
                                                <option *ngFor="let m of tipos" [value]="m.id">{{m.label}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>2. Elija el proceso a reportar <strong style="color: red">*</strong></strong>
                                            </label>
                                            <select class="form-control" formControlName="R9551230" (change)="onChangeProcess($event)">
                                                <option value="" disabled="true" [selected]="true">Seleccione una
                                                    opción</option>
                                                <option *ngFor="let p of procesos" [value]="p.id">{{p.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>3. Elija el servicio a reportar <strong style="color: red">*</strong></strong>
                                            </label>
                                            <select class="form-control" formControlName="R9562842" (change)="onChangeServices($event)">
                                                <option value="" disabled="true" [selected]="true">Seleccione una
                                                    opción</option>
                                                <option *ngFor="let p of servicios" [value]="p.id">{{p.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>4. Elija el motivo de su PQS</strong>
                                            </label>
                                            <select class="form-control" formControlName="R9551212" (change)="onChangePackage($event)">
                                                <option value="" disabled="true" [selected]="true">Seleccione una
                                                    opción</option>
                                                <option *ngFor="let p of motivos" [value]="p.id">{{p.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>5. Detalle <strong style="color: red">*</strong></strong>
                                            </label>
                                            <textarea rows="5" formControlName="Detalle" cols="5" class="form-control" placeholder="Amplie la información de la novedad a reportar. Este campo es obligatorio. Diligencie con brevedad del detalle de su PQS."
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>6. Compromiso</strong>
                                            </label>
                                            <ul class="list-group">
                                                <li class="list-group-item">Compromiso 1</li>
                                                <li class="list-group-item">Compromiso 2</li>
                                                <li class="list-group-item">Compromiso 3</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <input type="checkbox" />
                                            <label class="col-form-label">
                                                <strong>Tiene entregable</strong>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <label class="col-form-label">
                                                    <strong>Entregable</strong>
                                                </label>
                                                <textarea rows="5" name="Entregable" cols="5" class="form-control" placeholder="Informació."
                                                    required></textarea>
                                            </div>
                                        </div>

                                    <!-- <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>6. Compromiso</strong>
                                            </label>
                                            <textarea readonly="readonly" rows="5" name="Tarea" cols="5" placeholder=""
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3" [@visibility]="stop">
                                            <input type="checkbox" />
                                            <label class="m-b-20">
                                                <strong>Tiene entregable</strong>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9 col-sm-12">
                                            <label class="col-form-label">
                                                <strong>Entregable</strong>
                                            </label>
                                            <textarea readonly="readonly" rows="5" name="Entregable" cols="5" placeholder=""
                                                required></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <div>
                        <!-- <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <label class="col-form-label">
                                    <strong>6. Evidencias</strong>
                                </label>
                                <div>
                                    <div class="inline-block">
                                        <div ngfDrop [(validDrag)]="baseDropValid" (fileOver)="hasBaseDropZoneOver=$event"
                                            [(files)]="files" [accept]="accept" [maxSize]="maxSize" [(dragFiles)]="dragFiles"
                                            [(lastInvalids)]="lastInvalids" class="well my-drop-zone"
                                            [class.invalid-drag]="baseDropValid===false" [class.valid-drag]="baseDropValid"
                                            (filesChange)="lastFileAt=getDate()">
                                            Por favor ponga los archivos en esta zona
                                        </div>
                                    </div>
                                    <div class="inline-block">
                                        <div ngfDrop multiple="1" selectable="1" [(validDrag)]="validComboDrag"
                                            [(files)]="files" [accept]="accept" [maxSize]="maxSize" [(lastInvalids)]="lastInvalids"
                                            [(dragFiles)]="dragFiles" class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                                            [class.valid-drag]="validComboDrag" (filesChange)="lastFileAt=getDate()">
                                            O seleccionelos desde acá
                                        </div>
                                    </div>
                                </div>


                                <div *ngIf="dragFiles">
                                    <h3 style="margin:0">Drag Files</h3>
                                    <p *ngIf="!dragFiles.length" style="color:red;">
                                        This browser does NOT release metadata for files being dragged. All
                                        files will be considered valid drags until dropped.
                                    </p>
                                    <pre>{{ dragFiles | json }}</pre>
                                </div>

                                <div class="bg-warning" *ngIf="lastInvalids?.length" style="margin-bottom: 40px">
                                    <h3 style="color:red;">Last {{ lastInvalids.length }} Invalid Selected
                                        Files</h3>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Error</th>
                                                <th>Type</th>
                                                <th>Size</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of lastInvalids;let i=index">
                                                <td>
                                                    <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
                                                        <div class="previewIcon" [ngfBackground]="item.File"></div>
                                                    </div>
                                                    <strong>{{ item.file.name }}</strong>
                                                </td>
                                                <td nowrap>
                                                    {{ item.type }}
                                                </td>
                                                <td nowrap>
                                                    {{ item.file.type }}
                                                </td>
                                                <td nowrap>
                                                    {{ item.file.size/1024/1024 | number:'.2' }} MB
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)="lastInvalids.splice(i,1)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div style="margin-bottom: 40px">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Tamaño</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of files;let i=index">
                                                <td>
                                                    <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                                        <div class="previewIcon" [ngfBackground]="item"></div>
                                                    </div>
                                                    <strong>{{ item.name }}</strong>
                                                </td>
                                                <td nowrap>
                                                    {{ item.type }}
                                                </td>
                                                <td nowrap>
                                                    {{ item.size/1024/1024 | number:'.2' }} MB
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> -->

                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <div class="center-block">
                                    <button (click)="save(itemrow)" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">GUARDAR</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="center-block">
                                    <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>
<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    /* Default class applied to drop zones on over */
    .invalid-drag {
        border: dotted 3px red;
    }

    .valid-drag {
        border: dotted 3px green;
    }

    html,
    body {
        height: 100%;
    }

    .previewIcon {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .inline-block {
        display: inline-block;
        margin: .2em;
    }
</style>
<!-- <ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>
<ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus> -->
<ng2-toasty [position]="position"></ng2-toasty>