<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Form Inputs card start -->
      <app-card [title]="'Detalle de PQS'">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">No PQS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{data[0].nombre}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tipo de petición</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{data[0].tipo}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Hora y fecha de creación</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{data[0].fecha}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Estado de PQS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{data[0].estado}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ver adjunto</label>
          <div class="col-sm-10">
            <div *ngIf="data[0].existeEvidencia == 1">
              <button (click)="goToUrl(data[0].evidencia)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                <i _ngcontent-c9="" class="icofont icofont-attachment"></i>Ver
              </button>
            </div>
            <div *ngIf="data[0].existeEvidencia == 0">
              <strong>Sin Adjunto</strong>
            </div>
          </div>
        </div>
        
        <h4 class="sub-title"><b>DETALLE PLANES DE TRABAJO</b></h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 15%">
                Plan de Trabajo
              </th>
              <th style="width: 15%">
                Estado
              </th>
              <th style="width: 20%">
                Proceso
              </th>
              <th style="width: 20%">
                Servicio
              </th>
              <th style="width: 15%">
                Compromiso
              </th>
              <th style="width: 10%">
                Fecha Cierre
              </th>
              <th style="width: 5%">
                Evidencia
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of plan">
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ plan.nombre }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ plan.estado }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ data[0].proceso }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ servicio }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ plan.compromiso }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">{{ plan.fechaCierre }}</td>
              <td scope="row" style="white-space: normal; vertical-align:top;">
                <div *ngIf="plan.existeEvidencia == 1">
                  <button (click)="goToUrl2(plan.id)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                    <i _ngcontent-c9="" class="icofont icofont-attachment"></i>Ver
                  </button>
                </div>
                <div *ngIf="plan.existeEvidencia == 0">
                  Sin evidencia
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="this.data[0].calificada != 1 && data[0].estado == 'Cerrada'">
          <h4 class="sub-title"><b>Observación</b></h4>
          <div class="col-sm-12">
            <textarea rows="5" name="detalle" cols="5" (change)="guardarObservacion($event.target.value)"
              class="form-control" id="validationTextarea"
              placeholder="Por favor diligencie con brevedad su observación" ngModel required></textarea>
          </div>
        </div>
        <div *ngIf="this.data[0].calificada != 1 && data[0].estado == 'Cerrada'">
        <div class="row m-t-30">
            <div class="col-md-12">
              <div class="center-block">
                <button (click)="open(content)"
                  class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Enviar calificación 
                  y observación</button>
              </div>
            </div>
        </div>
      </div>
        <div class="col-md-12">
          <div class="center-block">
            <button type="button" (click)="getOut()"
              class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">Volver</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enviar calificación y observación</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      PQS No. <b>{{data[0].nombre}}</b><br>
      Califique el tratamiento dado a su PQS.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"
      (click)="calificaPqs(data[0].id, 'Aprobada', observacionCliente); d('Cross click') ">Satisfecho</button>
    <button type="button" class="btn btn-danger"
      (click)="calificaPqs(data[0].id, 'No aprobada', observacionCliente); d('Cross click') ">Insatisfecho</button>
  </div>
</ng-template>
<ng2-toasty [position]="position"></ng2-toasty>