<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
            <form class="md-float-material" (submit)="login()">
            <div class="text-center">
              <img src="./assets/images/auth/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Olvidaste tu contraseña ? </h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Regresar a <a [routerLink]="['/authentication/login']">Inicio de sesión.</a></p>
              <div class="input-group">
                  <input type="email" class="form-control" placeholder="Correo electrónico" name="email" [(ngModel)]="credentials.email">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button md-button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Recuperar contraseña</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  
                </div>
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>