<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de certificados'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery : 'Sucursal' | dataFilter : filterQuerySolicitud : 'Consecutivo_SS' | dataFilter : filterQueryMaterial : 'material' | dataFilter : filterQueryFecha : 'fecha'"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <!--
                            Sucursal, material, fecha de recolección
                        -->
                        <tr>
                            <th colspan="2">
                                <label>Filtro por Sucursal: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="Ingrese el nombre de la sucursal" class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por Solicitud: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="Ingrese el número de la solicitud" class="form-control" [(ngModel)]="filterQuerySolicitud" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por material: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="Ingrese el nombre del material" class="form-control" [(ngModel)]="filterQueryMaterial" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por fecha de recolección: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="año/mes/día" class="form-control" [(ngModel)]="filterQueryFecha" />
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 15%">
                                <mfDefaultSorter by="name">Sucursal</mfDefaultSorter>
                            </th>
                            <th style="width: 15%">
                                <mfDefaultSorter by="id">OS</mfDefaultSorter>
                            </th>
                            <th style="width: 15%">
                                <mfDefaultSorter by="id">Solicitud</mfDefaultSorter>
                            </th>
                            <th style="width: 15%">
                                <mfDefaultSorter by="id">Material</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="id">Fecha de recolección</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Certificado</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Certificado Intermediarios</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Certificado del dispositor</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <!-- <td scope="row">{{ service.id }}</td> -->
                            <td scope="row">{{ service.Sucursal }}</td>
                            <td scope="row">{{ service.No_Os }}</td>
                            <td scope="row">{{ service.Consecutivo_SS }}</td>
                            <td scope="row">{{ service.material }}</td>
                            <td scope="row">{{ service.fecha }}</td>
                            <td *ngIf="(service.RCertificados); else falsyTemplate">
                                <button (click)="goToUrl(service.RCertificados)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button> 
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                            <td *ngIf="(service.CertificadoIntermediarios); else falsyTemplate">
                                <button (click)="goToUrl3(service.RCertificados)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                            <td *ngIf="(service.Certificado_del_Dispositor); else falsyTemplate">
                                <button (click)="goToUrl2(service.id)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>