<div class="button-page">
    <div class="row">
        <div class="col-sm-12">

            <!-- Basic Form Inputs card start -->
            <app-card [title]="'Asistente de creación de material'">
                <div class="form-group col-md-12 col-sm-12">
                    <label class="col-form-label col-md-12"><strong> Materiales creados: {{numSol}} </strong></label>
                </div>
                <span class="m-b-20">Siga paso a paso el asistente para la creación del material</span>
                <form [formGroup]="invoiceForm">
                    <div formArrayName="itemRows">
                        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"
                            [formGroupName]="i">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label class="col-form-label"><strong> Tipo de tratamiento</strong></label>
                                    <select class="form-control" formControlName="treatment" (ngModelChange)="onChangeTreatment($event)">
                                        <option value="" disabled="true" [selected]="true">Seleccione una opción</option>
                                        <option *ngFor="let n of treats" [value]="n.id">{{n.label}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label class="col-form-label"><strong>Agrupador del material</strong></label>
                                    <select class="form-control" formControlName="grouper" (ngModelChange)="onChangeGroup($event)">
                                        <option value="" disabled="true" [selected]="true">Seleccione una opción</option>
                                        <option *ngFor="let n of data" [value]="n.id">{{n.label}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label class="col-form-label"><strong>Elija un material</strong></label>
                                    <select class="form-control" formControlName="material" (change)="onChangeMaterial($event)">
                                        <option value="" disabled="true" [selected]="true">Seleccione una opción</option>
                                        <option *ngFor="let m of material" [value]="m.id">{{m.label}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label class="col-form-label"><strong>Seleecione los días</strong></label>
                                    <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" formControlName="selectedItems"
                                        [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label class="col-form-label"><strong>Elija la frecuencia</strong></label>
                                    <angular2-multiselect [data]="itemRecu" [(ngModel)]="recuItems" formControlName="recuItems"
                                        [settings]="settingsRecu" (onSelect)="onItemSelectRecu($event)" (onDeSelect)="OnItemDeSelectRecu($event)">
                                    </angular2-multiselect>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label class="col-form-label"><strong>Hoja de seguridad  (Solo aplica para materiales) </strong></label>
                                    <!-- <button class="btn btn-danger btn-outline-danger" onclick="document.getElementById('file').click();"><i class="icofont icofont-file-pdf"></i></button>-->
                                    <input type="file" id="secure" name="secure" formControlName="secure" class="form-control"
                                        (change)="onFileChange($event)" />
                                    <!-- <input style="visibility: hidden" accept=".pdf" required type="file" formControlName="secure" class="form-control"> -->
                                </div>
                                <!-- <div class="form-group col-md-12 col-sm-12">
                                    <p class="col-form-label" *ngIf="itemrow.valid"><strong>Agregar otro</strong></p>
                                    <button (click)="addNewRow(itemrow)" class="btn btn-info" *ngIf="itemrow.valid"><i
                                            class="icofont icofont-plus"></i></button>
                                    <button (click)="deleteRow(i)" class="btn btn-danger" *ngIf="i > 0"><i class="icofont icofont-close"></i></button>
                                </div> -->
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12" *ngIf="invoiceForm.valid">
                                <div class="center-block">
                                    <button (click)="addNewRow(itemrow)" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">AGREGAR
                                        OTRO</button>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="invoiceForm.valid">
                                <div class="center-block">
                                    <button (click)="saveGetOut(0)" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">GUARDAR
                                        Y SALIR</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="center-block">
                                    <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>