
  .uploader {
    border: 1px solid #ccc;
    width: 400px;
    position: relative;
    height: 30px;
    
  }
  .uploader .input-value{
    width: 250px;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 16px;
  }
  .uploader label {
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    background: #c3e3fc url('https://www.interactius.com/wp-content/uploads/2017/09/folder.png') no-repeat center;
  }
  .Buttonclass{
    border-color: red;
  }
  .Color1{
    color:  #28a745;
  }
  .Color2{
    color: #dc3545;
  }

  .formls{
    width: 500px;
  }

