<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado Pre-Facturas'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped"
                    [mfData]="data | dataFilter : filterQuery : 1 | dataFilter : filterQueryDate : 3 | dataFilter : filterQuerySol : 4"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por num de factura: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="Ingrese el número de factura" class="form-control"
                                    [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por fecha de factura: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="año/mes/dia" class="form-control" [(ngModel)]="filterQueryDate" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por num de solicitud: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="Ingrese el número de solicitud" class="form-control"
                                    [(ngModel)]="filterQuerySol" />
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">No. Factura</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Documento</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Fecha creación</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                 <mfDefaultSorter by="id"></mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="id"></mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="id">Solicitudes</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="id">Estado</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service[1] }}</td>
                            <td>
                                <button type="button" (click)="openPdf(service[0])" class="btn btn-link">

                                    <i class="icofont icofont-file-pdf"></i>
                                </button>
                            </td>
                            <td scope="row">{{ service[3] }}</td>
                            <td scope="row"><button class="btn btn-outline-success" type="button"
                                    (click)="open(content, service[1], service[0])">Aprobar</button></td>
                            <td scope="row"><button class="btn btn-outline-danger" type="button"
                                    (click)="open(rechazo,service[1], service[0])">Rechazar</button></td>

                            <td scope="row">{{ service[4] }}</td>

                            <td *ngIf="service[2] == 8739141; else falsyTemplate" class="Color">
                                Pendiente
                            </td>
                            <td *ngIf="service[2] == 10936835; else falsyTemplate" class="Color1">
                                Aprobado
                            </td>
                            <td *ngIf="service[2] == 10936869; else falsyTemplate" class="Color2">
                                Rechazado
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmar aprobación </h4>
            <p> No.Factura {{numFactura}}</p>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Ingrese el numero de orden de
                compra: <strong style="color: red">*</strong></p>
            <input formControlName="Numero" class="form-control Buttonclass" id="Orden" type="text"
                placeholder="Este campo es obligatorio" />
            <br>
            <p>Orden de compra:</p>
            <div class="input__row uploader">
                <div class="input-value"></div>
                <td scope="row"><input type="file" id="secure" name="secure" (change)="onFileChange($event, id)" /></td>
            </div>
        </div>
        <div class="modal-footer" *ngIf="form.valid">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cancelar</button>
            <button type="button" class="btn btn-success"
                (click)="save(form.value, id); d('Cross click'); open(confirm); ">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #rechazo let-c="close" let-d="dismiss">
    <form [formGroup]="reason">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmar Rechazo</h4>
            <p> No.Factura {{numFactura}}</p>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Ingrese motivo de rechazo: <strong style="color: red">*</strong></p>
            <input formControlName="motivo" type="text" placeholder="Este campo es obligatorio"
                class="Buttonclass form-control" />
            <br>
            <p>Orden de compra:</p>
            <div class="input__row uploader">
                <div class="input-value"></div>
                <td scope="row"><input type="file" id="secure" name="secure" (change)="onFileChange($event, id)" /></td>
            </div>
        </div>
        <div class="modal-footer" *ngIf="reason.valid">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cancelar</button>
            <button type="button" class="btn btn-success"
                (click)="saveR(reason.value, id); d('Cross click'); open(confirm); ">Guardar</button>
        </div>
    </form>
</ng-template>
<ng2-toasty></ng2-toasty>