<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de visitas'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery : 0" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="name">Fecha de visita</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">Hora</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="id">Periodicidad</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Responsable</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Observaciones</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                    <mfDefaultSorter by="name">Compromisos</mfDefaultSorter>
                                </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service.Sucursal }}</td>
                            <td scope="row">{{ service.Hora }}</td>
                            <td scope="row">{{ service.OS}}</td>
                            <td scope="row">{{ service.Solicitud }}</td>
                            <td scope="row">{{ service.Estado }}</td>
                            <td scope="row"><button class="btn btn-primary">{{ service.Material }}</button></td>
                            <td scope="row">{{ service.Reportada }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>