<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'SAM'" [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
              <div class="col-sm-12">
                  <p class="task-detail">Servicio ambiental. Línea de negocio en la que se incluyen todos los servicios correspondientes al manejo y disposición de residuos peligrosos mediante (Incineración, Celda de seguridad, Compostaje, Biorremediación, Co-procesamiento, Tratamiento de agua o lodo, entre otras). Hace parte de esta línea, la gestión de residuos peligrosos convirtiéndose en un elemento clave dentro de la responsabilidad social de las empresas.
                  </p>
                  <p class="task-detail">Estos son algunos procedimientos que le ofrecemos dentro de nuestra línea de negocio:
                    </p>
              </div>
          </div>
          <!-- <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card b-l-success business-info services m-b-20">
                  <div ngbDropdown class="card-header">
                    <div class="service-header">
                      <a href="javascript:;"><h5 class="card-header-text">1. RESIDUOS PELIGROSOS</h5></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="task-detail">Es aquel que por sus características infecciosas, tóxicas, explosivas, corrosivas, inflamables, volátiles, combustibles, radiactivas o reactivas pueden causar riesgo a la salud humana o deteriorar la calidad ambiental hasta niveles que causen riesgo a la salud humana. También son residuos peligrosos aquellos que sin serlo en su forma original se transforman por procesos naturales en residuos peligrosos. Así mismo, se consideran residuos peligrosos los envases, empaques y embalajes que hayan estado en contacto con ellos.
                          </p>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="card b-l-danger business-info services">
                  <div ngbDropdown class="card-header">
                    <div class="service-header">
                      <a href="javascript:;"><h5 class="card-header-text">2. INCINERACIÓN</h5></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="task-detail">Destrucción mediante la combustión o quema técnicamente controlada de las sustancias orgánicas e inorgánicas contenidas en el residuo, cumpliendo con las normas de emisión vigentes. La incineración se desarrolla a temperaturas elevadas, tratándose de un procedimiento de destrucción térmica, que en presencia de oxígeno los residuos son convertidos en gases y cenizas.</p>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="card b-l-warning business-info services">
                  <div ngbDropdown class="card-header">
                    <div class="service-header">
                      <a href="javascript:;"><h5 class="card-header-text">3. CELDA DE SEGURIDAD</h5></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="task-detail">Las celdas de seguridad son un sistema de control-seguro diseñado para disponer sustancias potencialmente peligrosas para la salud humana y el ambiente
                          </p>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-12">
                  <div class="card b-l-success business-info services m-b-20">
                    <div ngbDropdown class="card-header">
                      <div class="service-header">
                        <a href="javascript:;"><h5 class="card-header-text">4. BIORREMEDIACIÓN</h5></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <p class="task-detail">Sistema biológico para la degradación de hidrocarburos o compuestos químicos líquidos similares, empleando plantas que se alimentan de estas sustancias y son reguladas bajo largos tiempos de retención que se dividen de laguna a laguna, garantizando una degradación total del hidrocarburo o sustancias similares.
                            </p>
                        </div>

                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-12">
                    <div class="card b-l-danger business-info services">
                      <div ngbDropdown class="card-header">
                        <div class="service-header">
                          <a href="javascript:;"><h5 class="card-header-text">5. COMPOSTAJE</h5></a>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12">
                            <p class="task-detail">Sistema natural para la degradación de componentes orgánicos contaminantes mediante la descomposición bajo el contacto con bacterias y serie de condiciones físicas como volteos y mezclas con tierras, para garantizar un producto como abonos orgánicos.
                              </p>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

            </div>
          </div> -->
      </app-card>
      <app-card [title]="'PROTECCIÓN DE MARCA'" [classHeader]="false" [blockClass]="'table-border-style'">
        <div class="row">
            <div class="col-sm-12">
                <p class="task-detail">aseguramos la destrucción de productos alimenticios, químicos, empaques, repuestos y todos los elementos que representen un riesgo de marca. Es un proceso de molienda o destrucciones manuales de productos terminados de características NO PELIGROSAS con el fin de garantizar su desnaturalización y darle finalmente una disposición ambientalmente adecuada. Se pueden utilizar tres tipos de procesos: Destrucción Mecánica, Destrucción Térmica o Transformación.</p>
            </div>
            <div class="col-sm-12 m-t-20" align="center">
                <button (click)="contact('aceites')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-user-alt-3"></i>CONTACTAR</button>
            </div>
        </div>
      </app-card>
      <app-card [title]="'GERI'" [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
              <div class="col-sm-12">
                  <p class="task-detail">Gestión de Excedentes y Residuos Industriales, línea de negocio en la que se desarrolla la compra de materiales industriales (Cartón, Archivos, Ferrosos, No Ferrosos, Plásticos, Plegadizas, Empaques y Embalajes) teniendo en cuenta factores como la generación, nivel de contaminación, presentación de los materiales. </p>
              </div>
              <div class="col-sm-12 m-t-20" align="center">
                  <button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-user-alt-3"></i>CONTACTAR</button>
              </div>
          </div>
        </app-card>
        <app-card [title]="'ACEITES'" [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
              <div class="col-sm-12">
                  <p class="task-detail">Procesamiento de aceites usados con la última tecnología para obtener sustitutos de combustibles industriales. Entre ellos se pueden encontrar: Fondos de proceso, Sustituto de fuel oil, base lubricante parafínica liviana, aceite procesado sustituto de ACPM, Combustible a la medida. Algunas de las ventajas que ofrecen nuestros sustitutos son: Bajo índice de Azufre, Alto poder calorífico, Contexturas delgadas, Bajo porcentaje de agua, Bajo costo frente a productos a ACPM.</p>
              </div>
              <div class="col-sm-12 m-t-20" align="center">
                  <button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-user-alt-3"></i>CONTACTAR</button>
              </div>
          </div>
        </app-card>
        <app-card [title]="'PROCESADOS'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="row">
                <div class="col-sm-12">
                    <p class="task-detail">Transformación de plásticos. Densificamos materiales plásticos recuperables a partir de residuos industriales, con tecnología de punta. Reintegramos materias primas. Trabajando en conjunto con los consumidores, la industria del reciclaje y de manufactura por la recuperación. Esta cadena garantiza continuidad en el suministro y un precio estable. Dentro de esta línea de servicio ofrecemos: plásticos molidos, plásticos peletizados y plásticos aglutinados. </p>
                </div>
                <div class="col-sm-12 m-t-20" align="center">
                    <button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-user-alt-3"></i>CONTACTAR</button>
                </div>
            </div>
          </app-card>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
