<div class="row">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/materiales/crear-material']"
            class="btn btn-primary m-r-10 m-l-20 m-b-10 float-right">
            <i class="icofont icofont-plus"></i> Crear material
        </button>
        <button type="button" (click)="openSecure()" class="btn btn-primary  m-r-1 m-b-10 float-right">
            <i class="icofont icofont-arrow-down"></i> Descargar formato
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de materiales asociados'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="id">Sucursal</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="id">Agrupador</mfDefaultSorter>
                            </th>
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Material</mfDefaultSorter>
                            </th>
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Tratamiento</mfDefaultSorter>
                            </th>
                            <th style="width: 15%">
                                <mfDefaultSorter by="name">Tarifa</mfDefaultSorter>
                            </th>
                            <!--<th style="width: 5%">
                    <mfDefaultSorter by="name">Frecuencia</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter by="name">Días de servicio</mfDefaultSorter>
                </th> -->
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Hoja de seguridad</mfDefaultSorter>
                            </th>
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Cargar Hoja de seguridad</mfDefaultSorter>
                            </th>
                        </tr>
                        <!--
            <tr>
                <th colspan="5">
                    Filter by id:
                    <input class="form-control" [(ngModel)]="filterQuery"/>
                </th>
            </tr> -->
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row"></td>
                            <td scope="row" *ngIf="(service[8]); else falsyTemplate">{{ service[8] }}</td>
                            <ng-template #falsyTemplate>
                                <td>{{service[9]}}</td>
                            </ng-template>
                            <td scope="row">{{service[1] }}</td>
                            <!-- <td scope="row">{{ service[8] }}</td>-->
                            <td scope="row">{{ service[2] }}</td>
                            <td scope="row">{{ service[7] }}</td>
                            <td scope="row">{{ service[3] | currency:'USD':true}}</td>
                            <!-- <td scope="row">{{ service[4] }}</td>
              <td scope="row">{{ service[5] }}</td> -->
                            <td scope="row"><button (click)="goToUrl(service[6])" _ngcontent-c9=""
                                    class="btn btn-info btn-outline-info"><i _ngcontent-c9=""
                                        class="icofont icofont-info-square"></i>Ver</button></td>
                            <td scope="row"><input type="file" id="secure" name="secure"
                                    (change)="onFileChange($event, service[0])" /></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[15,25,50]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>