<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- starts -->
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <div class="login-card card-body auth-body">
          <div class="text-center">
              <img src="./assets/images/auth/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
            <form class="md-float-material" (submit)="login()">
                <div class="row m-b-20">
                <div *ngIf="pqsNoCredentials != 1">
                  <div class="col-md-3">
                    <h3 class="text-center txt-primary">Ingresar</h3>
                  </div>
                </div>
                <div *ngIf="pqsNoCredentials == 1">
                    <div class="col-md-3">
                      <h3 class="text-center txt-primary">Cargando...</h3>
                    </div>
                  </div>
                </div>
                <!--
                <p class="text-inverse b-b-default text-left p-b-5">Sign in easily with your social account:</p>
                <div class="row m-b-20">
                  <div class="col-md-6">
                    <button class="btn btn-facebook m-b-20"><i class="icofont icofont-social-facebook"></i>Sign in with facebook</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-twitter m-b-20"><i class="icofont icofont-social-twitter"></i>Sign in with twitter</button>
                  </div>
                </div> -->
                <div *ngIf="pqsNoCredentials != 1">
                <p class="text-inverse b-b-default text-left p-b-5">Ingrese con su correo electrónico y contraseña</p>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Correo electrónico" name="email" id="name" [(ngModel)]="credentials.email" autocomplete="username email">
                    <span class="md-line"></span>
                  </div>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="credentials.password" autocomplete="new-password">
                    <span class="md-line"></span>
                  </div>
                
                <div class="row m-t-25 text-left">
                  <div class="col-sm-6 col-xs-12">
                    <div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" id="check" value="">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">Recordarme</span>
                      </label>
                    </div>
                  </div> 
                  <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                    <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Olvidó su contraseña ?</a>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"  (click)="obtenerCookie()">INGRESAR</button>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="pqsNoCredentials != 1">
                <form class="md-float-material" (submit)="loginPqsNoCredential()"> 
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Radicar PQS (para clientes no registrados)</button>
                </form>    
              </div>      
            <!-- <a [routerLink]="['/authentication/pqs-no-credentials']" class="text-right f-w-600 text-inverse"> Radicar PQS (para clientes no registrados)</a> -->
            
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng2-toasty [position]="position"></ng2-toasty>