<section class="p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid" ng-app='formulario'>
    <div class="row justify-content-center" ng-init='load()'>
      <div class="col-sm-8">
        <div class="login-card card-body auth-body">
          <div class="text-center">
            <img src="./assets/images/auth/logo.png" alt="logo.png">
          </div>
          <div class="auth-box">
            <div class="row m-b-20">
              <div class="col-md-12">
                <h3 class="text-left">ASISTENTE PARA LA CREACIÓN DE PQS </h3>
              </div>
            </div>
            <div class="card-header">
              <p class="m-b-20 text-center" style="color: black">Le damos la Bienvenida a nuestro módulo de creación de
                solicitudes, quejas, peticiones y sugerencias.<br>
                ¡Trabajamos para fortalecer nuestro servicio y continuar el camino hacia la excelencia operativa!
              </p>
            </div>
            <form class="md-float-material" [formGroup]="pqsForm">
              <div formArrayName="itemRows">
                <div *ngFor="let itemrow of pqsForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
                  <div class="row m-b-20">
                    <div class="col-md-12">
                      <h3 class="text-left">Datos Personales </h3>
                    </div>
                  </div>
                  <div class="form-row b-b-default">
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Nombre completo<strong style="color: red">*</strong></strong>
                          </label>
                          <input type="text" formControlName="nombre" class="form-control"
                            placeholder="Nombre completo">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">C.C.<strong style="color: red">*</strong></strong>
                          </label>
                          <input type="number" formControlName="cedula" class="form-control" min="1"
                            placeholder="Cedula de Ciudadania">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Email<strong style="color: red">*</strong></strong>
                          </label>
                          <input type="email" formControlName="email" class="form-control"
                          placeholder="Correo electrónico" (change)="verificarEmail($event.target.value)">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Celular</strong>
                          </label>
                          <input type="number" formControlName="celular" class="form-control" min="1"
                            placeholder="Número de telefono celular">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-b-20">
                    <div class="col-md-12">
                      <h3 class="text-left">Datos de la compañia </h3>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Nombre de la empresa<strong
                                style="color: red">*</strong></strong>
                          </label>
                          <input type="text" formControlName="nombreEmpresa" class="form-control"
                            placeholder="Nombre de la empresa">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">NIT<strong style="color: red">*</strong></strong>
                          </label>
                          <input type="number" formControlName="nit" class="form-control" min="1"
                            placeholder="NIT de la empresa">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Ciudad<strong style="color: red">*</strong></strong>
                          </label>
                          <!-- <input type="text" readonly formControlName="ciudad" class="form-control" [value]="ciudad"> -->
                          <select ng-readonly="" formControlName="ciudad" class="form-control" style="float:right" 
                            (change)="getRegional($event.target.value)">
                            <option value="" disabled="true" [selected]="true">Seleccione una opción
                            </option>
                            <option *ngFor="let c of ciudad" [value]="c[0]">{{c[1]}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                          <label class="col-form-label col-md-12 text-left">
                            <strong style="color: black">Empresa del grupo ATICA<strong
                                style="color: red">*</strong></strong>
                          </label>
                          <!-- <input type="text" readonly formControlName="grupoAtica" class="form-control" [value]="nombreGrupoAtica"> -->

                          <select ng-readonly="" formControlName="grupoAtica" class="form-control" style="float:right">
                            <option value="" disabled="true" [selected]="true">Seleccione una opción
                            </option>
                            <option *ngFor="let ne of grupoAtica" [value]="ne[0]">{{ne[1]}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-md-12">
                          <h3 class="text-left">Generación de PQS </h3>
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 col-sm-6">
                              <div class="row">
                                  <div class="form-group col-md-12 col-sm-12">
                                      <label class="col-form-label col-md-12 text-left">
                                          <strong style="color: black">Tipo PQS<strong
                                              style="color: red">*</strong></strong>
                                        </label>
                                      <select ng-readonly="" formControlName="tipoPqs" class="form-control"
                                          style="float:right">
                                          <option value="" disabled="true" [selected]="true">Seleccione una opción
                                          </option>
                                          <option *ngFor="let tipo of tipoPqs" [value]="tipo.id">{{tipo.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-6 col-sm-6">
                              <div class="row">
                                  <div class="form-group col-md-12 col-sm-12">
                                      <label class="col-form-label col-md-12 text-left">
                                          <strong style="color: black">Proceso a reportar<strong
                                              style="color: red">*</strong></strong>
                                        </label>
                                      <select ng-readonly="" formControlName="proceso" class="form-control"
                                          style="float:right" (change)="cargaServicio($event.target.value)">
                                          <option value="" disabled="true" [selected]="true">Seleccione una opción
                                          </option>
                                          <option *ngFor="let p of proceso" [value]="p[0]">{{p[1]}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-6 col-sm-6">
                              <div class="row">
                                  <div class="form-group col-md-12 col-sm-12">
                                      <label class="col-form-label col-md-12 text-left">
                                          <strong style="color: black">Servicio a reportar<strong
                                              style="color: red">*</strong></strong>
                                        </label>
                                      <select ng-readonly="" formControlName="servicio" class="form-control"
                                          style="float:right" (change)="cargaMotivo($event.target.value)">
                                          <option value="" disabled="true" [selected]="true">Seleccione una opción
                                          </option>
                                          <option *ngFor="let s of servicio" [value]="s.id">{{s.name}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-6 col-sm-6">
                              <div class="row">
                                  <div class="form-group col-md-12 col-sm-12">
                                      <label class="col-form-label col-md-12 text-left">
                                          <strong style="color: black">Motivo PQS</strong>
                                        </label>
                                      <select ng-readonly="" formControlName="motivo" class="form-control"
                                          style="float:right">
                                          <option value="" [selected]="true">Seleccione una opción
                                          </option>
                                          <option *ngFor="let m of motivo" [value]="m.id">{{m.name}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-12 col-sm-12 mb-3 was-validated">
                              <label class="col-form-label col-md-12 text-left">
                                  <strong style="color: black">Detalle<strong
                                      style="color: red">*</strong></strong>
                                </label>
                              <div class="col-sm-12">
                                  <textarea rows="5" formControlName="detalle" name="detalle" cols="5"
                                      class="form-control" id="validationTextarea"
                                      placeholder="Este campo es obligatorio. Por favor diligencie con brevedad el detalle de su PQS"
                                      ngModel></textarea>
                              </div>
                          </div>
                          <div class="form-group col-md-12 col-sm-12">
                              <div class="row">
                                  <div class="form-group col-md-12 col-sm-12">
                                      <label class="col-form-label col-md-12 text-left">
                                          <strong style="color: black">Adjuntar evidencias</strong>
                                        </label>
                                      <input type="file" id="evidencia" formControlName="evidencia"
                                          name="evidencia" class="form-control" ngModel
                                          (change)="onFileChange($event)" />
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group col-md-12 col-sm-12">
                          <label class="col-xs-3 control-label"><strong style="color: black">Política de tratamiento de
                              datos personales<strong style="color: red">*</strong></strong></label>
                          <div class="col-xs-9">
                            <div
                              style="border: 1px solid #bdc3c7; height: 200px; overflow: auto; padding: 10px; color: #000;">
                              <p><strong>Mosquera – Madrid, Antigua Troncal de Occidente, teléfono: +57 (1) 8290800 -
                                  7465644,
                                  correo electrónico: info@atica.co:</strong>
                                <br><br>
                                <strong>A Personas Jurídicas:</strong> INDUSTRIA AMBIENTAL S.A.S. y sus subsidiarias,
                                relacionadas anteriormente, realizarán tratamiento de datos personales cedidos,
                                transmitidos, transferidos y/o remitidos correspondientes a sus colaboradores, los cuales
                                serán utilizados para la única finalidad de establecer, mantener y realizar actividades de
                                contacto y comunicación a efectos de ejecutar la relación comercial y/o contractual que nos
                                vincula y que conjunta o separadamente se podrán recolectar, usar, circular, almacenar y
                                suprimir conforme a la Política de Tratamiento de la Información, la cual ponemos a su
                                disposición en www.atica.co.
                                <br><br>
                                <strong>A Personas Naturales:</strong> INDUSTRIA AMBIENTAL S.A.S. y sus subsidiarias,
                                relacionadas anteriormente, actuarán como Responsables del Tratamiento de Datos personales
                                recolectados y/o tratados de los cuales usted es titular, y que conjunta o separadamente se
                                podrán recolectar, usar, circular, almacenar y suprimir conforme a la Política de
                                Tratamiento de la Información, la cual ponemos a su disposición en www.atica.co.
                                <br><br>
                                Los datos personales objeto de cesión o que se recolectarán son: nombre o razón social,
                                número de identificación, registro único tributario, teléfono, dirección, datos cuenta
                                bancaria, dirección de correo electrónico. Los mencionados datos serán tratados en las
                                modalidades de recolección, uso, circulación, almacenamiento y supresión y demás indicadas
                                en la política de tratamiento de datos personales de INDUSTRIA AMBIENTAL S.A.S. y sus
                                subsidiarias.
                                <br><br>
                                - Las finalidades de recolección y tratamiento de sus datos personales, consisten en:
                                establecer, mantener y realizar actividades de contacto y comunicación a efectos de ejecutar
                                la relación comercial y/o contractual que nos vincula (en caso de ser personas jurídicas) o
                                la gestión de las relaciones comerciales que surjan, con el objeto de adquirir sus
                                productos, o servicios o servicios que prestan proveedores para ayudar a la gestión
                                operativa y administrativa (en caso de ser personas naturales).
                                <br><br>
                                - Garantizaremos los derechos de los respectivos titulares de datos personales, los cuales
                                son los previstos en la Constitución y la Ley, y especialmente: acceso, rectificación,
                                actualización, supresión de datos y revocación del consentimiento, siempre y cuando sea
                                legalmente viable.
                                <br><br>
                                - Los procedimientos para el ejercicio de tales derechos serán los de CONSULTA y RECLAMO
                                establecidos en la Política de Protección de Datos Personales.
                                <br><br>
                                - Los canales a través de los cuales podrá ejercer los mencionados derechos son:
                                comunicación escrita al correo electrónico y/o dirección física indicadas arriba.
                                <br><br>
                                - Se garantizará el cumplimiento de los principios y normas legales en el tratamiento de sus
                                datos personales.
                              </p>
                              <div class="checkbox-fade fade-in-primary">
                                <label>
                                  <input type="checkbox" formControlName="terminos" class="form-control">
                                  <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                  <span class="text-inverse"><strong style="color: red; cursor: pointer;">He leído y acepto
                                      la autorización a Atica para tratamiento de datos personales.</strong></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                    <div *ngIf="pqsForm.valid" class="col-md-12">
                      <div class="center-block">
                        <button (click)="saveGetOut()"
                          class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                          Enviar PQS</button>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="center-block">
                        <button type="button" (click)="logout()" 
                        class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">Salir</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>