<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Licencias de tratamiento'" [classHeader]="false"
            [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery : 'Sucursal' "
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 50%">
                                <mfDefaultSorter>Proveedor</mfDefaultSorter>
                            </th>
                            <th style="width: 50%">
                                <mfDefaultSorter>Documento</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service.Descripcion }}</td>
                            <td *ngIf="(service.id); else falsyTemplate">
                                <button (click)="goToUrl(service.id)" _ngcontent-c9=""
                                    class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>