<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de manifiestos RMA'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped"
                    [mfData]="data | dataFilter : filterQuery : 'No_RMA' | dataFilter : filterQuerySolicitud : 'Consecutivo_SS' | dataFilter : filterQueryFecha : 'fecha' | dataFilter : filterQueryBranch : 'Sucursal' "
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por solicitud: </label>
                                    </th>
                                    <th colspan="6">
                                        <input placeholder="Ingrese la solicitud" class="form-control" [(ngModel)]="filterQuerySolicitud" />
                                    </th>
                            </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por No. manifiesto RMA: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="Ingrese el número del manifiesto RMA" class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por sucursal: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="Ingrese el nombre de la sucursal" class="form-control" [(ngModel)]="filterQueryBranch" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por fecha de recolección: </label>
                            </th>
                            <th colspan="6">
                                <input placeholder="año/mes/día" class="form-control" [(ngModel)]="filterQueryFecha" />
                            </th>
                        </tr>

                        <tr>
                            <th style="width: 5%">
                            </th>
                            <!-- <th style="width: 20%">
                                <mfDefaultSorter by="id">ID</mfDefaultSorter>
                            </th> -->
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">No. Manifiesto RMA </mfDefaultSorter>
                            </th>
                            <!--<th style="width: 20%">
                                <mfDefaultSorter by="id">OS</mfDefaultSorter>
                            </th>-->
                           <!-- <th style="width: 20%">
                                <mfDefaultSorter by="id">Material</mfDefaultSorter>
                            </th> -->
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Documento</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="id">Fecha de recolección</mfDefaultSorter>
                            </th>
                            <th style="width: 25%">
                                <mfDefaultSorter by="name">Sucursal</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="id">Solicitud</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row"></td>
                            <!-- <td scope="row">{{ service.id }}</td> -->
                            <td scope="row">{{ service.No_RMA }}</td>
                            <!--<td scope="row">{{ service.No_Os }}</td>-->
                            <!--<td scope="row">{{ service.material }}</td>-->
                            <td *ngIf="(service.R9470155); else falsyTemplate">
                                <button (click)="goToUrl(service.R9470155)" _ngcontent-c9=""
                                    class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                            <td scope="row">{{ service.fecha }}</td>
                            <td scope="row">{{ service.Sucursal }}</td>
                            <td scope="row">{{ service.Consecutivo_SS }}</td>
                            <!--<td *ngIf="(service.Certificado_del_Dispositor); else falsyTemplate">
                                <button (click)="goToUrl2(service.id)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                                    <i _ngcontent-c9="" class="icofont icofont-file-pdf"></i>Ver
                                </button>
                            </td>-->
                            <ng-template #falsyTemplate>
                                <td>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>