<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Form Inputs card start -->
      <app-card [title]="'Encuesta de Satisfacción'">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Servicios contratados:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Servicio" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Cliente</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Nombre cliente" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Ciudad</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Nombre ciudad" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Año:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="2018" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Fecha:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="12/09/2018" readonly>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul>
              <li>
                La siguiente encuesta tiene como objetivo evaluar el servicio que le prestamos durante el año 2017, con
                el propósito de
                continuar mejorando en cada una de las lineas de servicio prestadas por nuestra compañía.
              </li>
            </ul>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h4 class="sub-title">Instrucciones</h4>
            <ul>
              <li>
                <i class="icofont icofont-double-right text-success"></i>
                <strong>Paso 1:</strong> Marque con una (X) la opción que mejor refleje su opinión, frente a las
                preguntas de cada linea o servicio que esta
                evaluando. Tenga en cuenta en su repuesta: 5 (cinco) Excelente, 4 (cuatro) muy bueno, 3 (tres)
                bueno, 2 (dos) malo, 1
                (uno) muy malo. Cuando considere que la pregunta NO aplica, señale la opción (N/A).
              </li>
              <li>
                <i class="icofont icofont-double-right text-success"></i>
                <strong>Paso 2:</strong> Cada pregunta tiene un espacio de observaciones, en donde puede hacer un
                comentario adicional frente al item
                evaluado. Su opinión es muy importante para nosotros.
              </li>
            </ul>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="center-block">
              <button [routerLink]="['/servicio-al-cliente/resolver-encuenta']" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">DILIGENCIAR
                ENCUESTA</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="center-block">
              <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>