<div class="button-page">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!-- Basic Form Inputs card start -->
      <app-card [title]="'Encuesta de satisfacción'" [classHeader]="true" [blockClass]="'table-border-style'">
        <!--<span class="code-header">use class <code>table</code> inside table element</span> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Proceso a Evaluar</th>
                <th>Calicación</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="white-space: normal;">¿Cómo califica el orden y aseo del centro de acopio?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="50" name="comment" form="usrform"></textarea></td>
              </tr>
              <tr>
                <td style="white-space: normal;">¿Cómo es el cumplimiento del uso de EPI (Elementos de protección individual) por parte del personal
                  operativo de Industria ambiental?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="50" name="comment" form="usrform"></textarea></td>
              </tr>
              <tr>
                <td style="white-space: normal;">¿Cómo evalúa el estado tecnico/mecanico de los equipos y/o máquinas utilizados para la operación,
                  propiedad de Industria Ambiental?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="50" name="comment" form="usrform"></textarea></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="center-block">
              <button (click)="getOut()" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                ENVIAR ENCUESTA</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="center-block">
              <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>