<!-- <div class="row">
        <div class="col-sm-12">
            <button type="button" [routerLink]="['/servicios/crear-solicitud']" class="btn btn-primary m-r-1 m-b-10 float-right">
                <i class="icofont icofont-plus"></i> Crear Solicitud
            </button>
            <button type="button" [routerLink]="['/cotizacion/create']" class="btn btn-primary m-r-10 m-l-20 m-b-10 float-right">
                <i class="icofont icofont-bag-alt"></i> Solicitar cotización
            </button>
        </div>
    </div> -->
<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de encuestas'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery : 0" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label>Estado de la encuesta: </label>
                            </th>
                            <th colspan="2">
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                            <th colspan="1">
                                    
                            </th>
                            <th colspan="2" align="right">
                                <button type="button" [routerLink]="['/servicio-al-cliente/crear-encuenta']" class="btn btn-primary m-r-1 m-b-10 float-right">
                                    <i class="icofont icofont-plus"></i> Diligenciar encuesta vigente
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <mfDefaultSorter by="name">Fecha de actividad</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="id">Calificación</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Responsable</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Compromisos</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Entregables</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Ver encuesta</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service.Sucursal }}</td>
                            <td scope="row">{{ service.OS}}</td>
                            <td scope="row">{{ service.Solicitud }}</td>
                            <td scope="row">{{ service.Estado }}</td>
                            <td scope="row"><button  class="btn btn-primary">{{ service.Material }}</button></td>
                            <td scope="row"><button  class="btn btn-primary">{{ service.Reportada }}</button></td>
                            <td scope="row"><button  class="btn btn-primary">Encuesta</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>