<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic table card start -->
            <app-card [title]="'Evaluación de Encuesta de Satisfacción'" [classHeader]="false" [blockClass]="'table-border-style'">
                <div class="card-header">
                    <p class="m-b-20">
                        <strong>INSTRUCCIONES:</strong><br>
                        Califique con un número entre el 1 y 5 que mejor refleje su opinión, frente a las preguntas
                        de cada servicio que esta evaluando, tenga en cuenta en su respuesta:<br><br>
                        5 (cinco) Excelente, 4(cuatro) Muy bueno, 3(tres) Bueno, 2(dos) Malo, 1(uno) Muy malo<br>
                        Cuando considere que la pregunta <strong>NO APLICA</strong>, marque la casilla (No aplica).<br><br>
                    </p>
                </div>
                <!-- ============================== TABLE ============================== -->
                <div *ngFor="let servicio of data" class="table-responsive" style="text-align: center">
                    <h5 style="margin: 15px;"><strong>{{servicio.name}}</strong></h5>
                    <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" style=" table-layout:fixed; ">
                        <thead>
                            <tr>
                                <th style="width: 30%; overflow: hidden;" class="text-center">
                                    Compromiso
                                </th>
                                <th style="width: 25%" class="text-center">
                                    Evaluación cliente
                                </th>
                                <th style="width: 20%" class="text-center">
                                    No Aplica
                                </th>
                                <th style="width: 25%" class="text-center">
                                    Observaciones
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let pregunta of preguntasEscogidas">
                                <td *ngIf="servicio.id == pregunta.servicio" style="text-overflow:ellipsis; overflow:hidden; white-space:normal;">{{pregunta.pregunta}}</td>
                                <style>
                                    td {
                                        max-width: 100px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                </style>
                                <td *ngIf="servicio.id == pregunta.servicio">
                                        <select class="form-control" *ngIf="pregunta.aplica == 0" (change)="guardarCalificacion(pregunta.id + '-' + $event.target.value + '-'+ pregunta.servicio)">
                                            <option value="" disabled="true" [selected]="true">
                                                Seleccione una opción
                                            </option>
                                            <option value=1.0>1</option>
                                            <option value=2.0>2</option>
                                            <option value=3.0>3</option>
                                            <option value=4.0>4</option>
                                            <option value=5.0>5</option>
                                        </select>
                                        <select class="form-control" *ngIf="pregunta.aplica == 1" readonly placeholder="NO APLICA">
                                       </select>
                                </td>
                                <td *ngIf="servicio.id == pregunta.servicio"> 
                                    <input type="checkbox" (change)="quitarServicio(pregunta.id + '-' + $event.target.checked + '-'+ pregunta.servicio)"> 
                                </td>
                                <td *ngIf="servicio.id == pregunta.servicio">
                                        <textarea *ngIf="pregunta.aplica == 0" rows="5" (change)="guardarObservacion(pregunta.id + '-' + $event.target.value)"
                                        cols="5" class="form-control" style="border: solid 1px gray; resize: none;
                                        height: 150px;"></textarea>
                                        <textarea *ngIf="pregunta.aplica == 1" rows="5" readonly
                                        cols="5" class="form-control" style="border: solid 1px gray; resize: none;
                                        height: 150px;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- ============================== FIN TABLA ===================================== -->
                <!-- ============================== TABLE ============================== -->
                <div class="table-responsive" style="margin: auto; width: 60%;">
                    <table class="table table-striped" style="table-layout: fixed;" [mfData]="data" #mf="mfDataTable"
                        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th style="width: 60%; overflow: hidden; text-align: center;" class="text-center">
                                    Servicio
                                </th>
                                <th style="width: 40%; overflow: hidden; text-align: center;" class="text-center">
                                    Porcentaje Servicio
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let porcentaje of porcentajeServicios">
                                <td style="white-space: normal; vertical-align:top; text-align: center; font-weight: bold; ">{{porcentaje.nombreServicio}}</td>
                                <td style="white-space: normal; vertical-align:top; text-align: center;">{{porcentaje.porcentaje}}/5</td>
                            </tr>
                            <tr>
                                <td style="white-space: normal; vertical-align:top; text-align: center; font-weight: bold;">    </td>
                                <td style="white-space: normal; vertical-align:top; text-align: center;">   </td>
                            </tr>
                            <tr>
                                <td style="white-space: normal; vertical-align:top; text-align: center; font-weight: bold;">TOTAL</td>
                                <td style="white-space: normal; vertical-align:top; text-align: center;">{{porcentajeCliente}}/5</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- ============================== FIN TABLA ===================================== -->
                <div class="col-md-12">
                    <div class="center-block">
                        <button (click)="open(content)"
                            class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            Guardar</button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmar Encuesta</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Acaba de evaluar el cumplimiento de los servicios prestados por ATICA, 
                con una calificación total de <strong>{{porcentajeAprobado}} sobre 5</strong>, con un nivel
                de servicio <strong>{{nivelServicio}}</strong>.<br><br>
                Si está seguro de este resultado por favor de clic en "guardar y enviar", para editar alguna
                calificación de clic en "Volver para editar la encuesta".
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Volver para editar la encuesta</button>
            <button type="button" class="btn btn-success" (click)="saveGetOut(); d('Cross click'); open(confirm); ">Guardar y enviar</button>
        </div>
    </ng-template>
    <ng-template #confirm let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Encuesta Guardada</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¡Encuesta guardada con éxito!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click'); getOut();">Salir</button>
        </div>
    </ng-template>
    <ng2-toasty [position]="position"></ng2-toasty>