<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de PQS'" [classHeader]="true" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped"
                    [mfData]="data | dataFilter : filterQuery : 'estado' | dataFilter: filterQuerySuc: 'Sucursal' | dataFilter: filterQueryFecha: 'fecha' "
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="1">
                                <label>Filtro estado: </label>
                            </th>
                            <th colspan="2">
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                            <th colspan="1">
                                <label>Filtro fecha: </label>
                            </th>
                            <th colspan="5">
                                <input placeholder="año/mes/día" class="form-control" [(ngModel)]="filterQueryFecha" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <mfDefaultSorter by="name">Fecha de Cración</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">No. PQS</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="id">Tipo de PQS</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Proceso</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Calificacion</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Adjunto</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Compromiso</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                            id: data[i][0],
                            fecha: this.formatDate(data[i][1]),
                            nombre: data[i][2],
                            tipo: data[i][3],
                            proceso: data[i][4],
                            estado: data[i][5],
                            calificacion: data[i][6],
                            servicio: data[i][7],
                            calificada: data[i][8],
                            evidencia: data[i][9]
                        -->                     
                        <tr *ngFor="let pqs of mf.data" onclick="">
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">{{ pqs.fecha}}</td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">{{ pqs.nombre}}</td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">{{ pqs.tipo }}</td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">{{ pqs.proceso }}</td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">{{ pqs.estado }}</td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">
                                <div *ngIf="pqs.calificacion == 10854078">Aprobado</div>
                                <div *ngIf="pqs.calificacion == 10854079">No Aprobado</div>
                            </td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">
                                <div *ngIf="pqs.existeEvidencia == 1">
                                    <button (click)="goToUrl(pqs.evidencia)" _ngcontent-c9="" class="btn btn-info btn-outline-info">
                                            <i _ngcontent-c9="" class="icofont icofont-attachment"></i>Ver
                                    </button>
                                </div>
                                <div *ngIf="pqs.existeEvidencia == 0">
                                   <strong>Sin evidencia</strong>
                                </div>
                            </td>
                            <td scope="row" class="text-center" style="white-space: normal; vertical-align:top;">
                                <button (click)="detallePqs(pqs)"
                                    class="btn btn-primary btn-outline-primary"><i
                                        class="icofont icofont-external-link"></i>Ver detalle</button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td></td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>