<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic table card start -->
            <app-card [title]="'ANS ATICA - Cliente ' + nombreContacto" [classHeader]="false" [blockClass]="'table-border-style'">
                <div class="card-header">
                    <p class="m-b-20 text-center">Estimado cliente, por favor seleccione la opción CUMPLE o NO CUMPLE
                        según corresponda, en frente
                        de cada compromiso de acuerdo al cumplimiento por parte de ATICA dentro del Acuerdo de Nivel de
                        Servicio. En caso
                        de elegir la opción NO CUMPLE, por favor realizar los comentarios en frente de la respuesta.
                    </p>
                </div>
                <!-- ============================== TABLE ============================== -->
                <div class="table-responsive">
                    <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th style="width: 30%; overflow: hidden;" class="text-center">
                                    Compromiso
                                </th>
                                <th style="width: 25%" class="text-center">
                                    Evaluación cliente
                                </th>
                                <th style="width: 20%" class="text-center">
                                   Evaluación Coordinador
                                </th>
                                <th style="width: 25%" class="text-center">
                                    Observaciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ans of data" onclick="">
                                <td *ngIf="ans[3] == 1" scope="row" style="white-space: normal; vertical-align:top;">
                                        {{ans[1]}}
                                </td>
                                <td *ngIf="ans[3] == 1" scope="row" style="vertical-align: top">
                                    <select class="form-control" style="border: solid 1px gray;" (change)="guardarCalificacion($event.target.value)">
                                        <option value="" disabled="true" [selected]="true">
                                            Seleccione una opción
                                        </option>
                                        <option value="{{ans[0]}}-12660287">CUMPLE</option>
                                        <option value="{{ans[0]}}-12660288">NO CUMPLE</option>
                                    </select>
                                </td>
                                <td *ngIf="ans[3] == 1" scope="row" class="text-center">
                                    <div *ngIf="ans[2] == 12660290">APROBADO</div>
                                    <div *ngIf="ans[2] == 12660291">NO APROBADO</div>
                                </td>
                                <td *ngIf="ans[3] == 1" scope="row">
                                    <textarea rows="5" (change)="guardarObservacion(ans[0] + '-' + $event.target.value)"
                                        cols="5" class="form-control" required style="border: solid 1px gray; resize: none;
                                        height: 150px;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- ============================== FIN TABLA ===================================== -->
                 <!-- ============================== TABLE ============================== -->
                 <div class="table-responsive" style="margin: auto; width: 50%;">
                    <table class="table table-striped" style="width: 20%; text-align: center;">
                        <thead>
                            <tr>
                                <th style="width: 50%;" class="text-center">
                                    Resultado evaluación cliente
                                </th>
                                <th style="width: 50%;" class="text-center">
                                    Resultado evaluación Coordinador
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr onclick="">
                                <td  scope="row"><strong>{{porcentajeCliente}}%</strong></td>
                                <td  scope="row">{{porcentajeCoordinador}}%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- ============================== FIN TABLA ===================================== -->
                <div class="col-md-12">
                    <div class="center-block">
                        <button (click)="open(content)"
                            class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            Guardar</button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmar ANS</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Acaba de evaluar el cumplimiento del ANS para la administración del centro de acopio por
                parte de la compañia ATICA con un resultado total de <strong>{{porcentajeAprobado}}%</strong>, ¿está seguro
                de que desea guardar y enviar?.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Volver y editar la evaluación del ANS</button>
            <button type="button" class="btn btn-success" (click)="saveGetOut(); d('Cross click'); open(confirm); ">Guardar y enviar</button>
        </div>
    </ng-template>
    <ng-template #confirm let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">ANS Calificada</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¡ANS guardada con éxito!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click'); getOut();">Salir</button>
        </div>
    </ng-template>
    <ng2-toasty [position]="position"></ng2-toasty>