<div class="row">
    <div class="col-lg-12">
        <div class="cover-profile">
            <div class="profile-bg-img">
                <img class="profile-bg-img img-fluid" src="./assets/images/user-profile/header_atica_1289.png"
                    alt="bg-img">
                <div class="card-block user-info">
                    <div class="col-md-12">
                        <!-- <div class="media-left">
              <a href="#" class="profile-image">
                <img class="user-img img-circle" src="./assets/images/user-profile/user-img.jpg" alt="user-img">
              </a>
            </div> -->
                        <div class="media-body row">
                            <div class="col-lg-12">
                                <div class="user-title">
                                    <h2>{{data[1]}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--profile cover end-->
<div class="row">
    <div class="col-lg-12">
        <div class="md-tabs">
            <ngb-tabset>
                <ngb-tab title="Información Usuario">
                    <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15">
                            <!-- personal card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Usuario</h5>
                                    <!--<button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>-->
                                </div>
                                <div class="card-body">
                                    <div class="view-info" *ngIf="editProfile">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="general-info">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table m-0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Nombre Completo</th>
                                                                            <td>{{data[1]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Email</th>
                                                                            <td>
                                                                                <a href="#!">{{data[2]}}</a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Móvil</th>
                                                                            <td>{{data[3]}}</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Ciudad</th>
                                                                            <td>{{data[4]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Departamento</th>
                                                                            <td>{{data[7]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Sucursal</th>
                                                                            <td>{{sucursal}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of general info -->
                                            </div>
                                            <!-- end of col-lg-12 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <!-- end of card-body -->
                            </div>
                            <div class="card">
                                <div class="card-header contact-user">
                                    <!--  <img class="img-circle" src="./assets/images/user-profile/contact-user.jpg" alt="contact-user"> -->
                                    <h4>Cambiar contraseña</h4>
                                </div>
                                <div class="card-body">

                                    <form [formGroup]="form">
                                        <!-- <div class="form-group col-md-12 col-sm-12">
                                                    <label class="col-sm-2 col-form-label">Solicitud</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" formControlName="actual" name="actual" cols="5" class="form-control" placeholder="Contraseña actual"
                                                            ngModel required />
                                                    </div>
                                                </div> -->
                                        <div class="form-group col-md-12 col-sm-12">
                                            <div class="col-sm-12">
                                                <input type="password" formControlName="nueva" name="nueva" cols="5"
                                                    class="form-control" placeholder="Ingrese la nueva contraseña"
                                                    ngModel required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12">
                                            <div class="col-sm-12">
                                                <input type="password" formControlName="confirma" name="confirma"
                                                    cols="5" class="form-control"
                                                    placeholder="Confirme la contraseña ingresada" ngModel required />
                                            </div>
                                        </div>
                                        <div *ngIf="form.valid" class="col-md-12">
                                            <div class="center-block">
                                                <button (click)="addNewRow(form.value)"
                                                    class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">CAMBIAR
                                                    CONTRASEÑA</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Información empresa">
                    <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15">
                            <!-- personal card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Empresa</h5>
                                </div>
                                <div class="card-body">
                                    <div class="view-info" *ngIf="editProfile">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="general-info">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table m-0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Nombre Empresa</th>
                                                                            <td>{{EnterpriseData[1]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Nit</th>
                                                                            <td>{{EnterpriseData[9]}} -
                                                                                {{EnterpriseData[10]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Teléfono</th>
                                                                            <td>{{EnterpriseData[4]}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Dirección</th>
                                                                            <td>{{EnterpriseData[2]}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Ciudad</th>
                                                                            <td>{{EnterpriseData[12]}}</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th scope="row">Departamento</th>
                                                                            <td>{{EnterpriseData[11]}} </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of general info -->
                                            </div>
                                            <!-- end of col-lg-12 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <!-- end of card-body -->
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Servicios de la empresa">
                    <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15">
                            <div *ngFor="let data of bussines">
                                <app-card [title]="data[0]" [classHeader]="false"
                                    [blockClass]="'table-border-style'">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="task-detail">{{data[1] }}
                                            </p>
                                        </div>
                                        <!-- <div class="col-sm-12 m-t-20" align="center">
                      <button [routerLink]="['/servicios/lineas-negocio']" class="btn btn-primary btn-outline-primary">
                        <i class="icofont icofont-user-alt-3"></i>CONOCER MÁS SERVICIOS</button>
                    </div> -->
                                    </div>
                                </app-card>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Contacto Comercial">
                    <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- user contact card left side start -->
                                    <div class="card">
                                        <div class="card-header contact-user">
                                            <!--  <img class="img-circle" src="./assets/images/user-profile/contact-user.jpg" alt="contact-user"> -->
                                            <h4>{{ContactData[0]}}</h4>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-contacts">
                                                <li class="list-group-item active">
                                                    <a href="javascript:;">Contacto</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="javascript:;">Telefóno oficina: {{ContactData[1]}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="javascript:;">Telefóno celular: {{ContactData[2]}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="javascript:;">Correo electrónico: {{ContactData[3]}}</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>