<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="tipoContacto == 150833"> <!--Id Interventor QA: 150833 --> <!--Id Interventor PRD: 14407099 -->
                <!-- Basic Form Inputs card start -->
                <app-card [title]="'EVALUACIÓN DE ENCUESTA DE SATISFACCIÓN'">
                    <div class="card-header">
                        <p class="m-b-20 text-center"> Le damos la bienvenida a nuestro modulo de evaluación de
                            encuestas de satisfacción, para nosotros
                            es importante conocer su experiencia frente al servicio recibido durante este tiempo.
                        </p>
                    </div>
                    <form [formGroup]="encuestasForm">
                        <div formArrayName="itemRows">
                            <div *ngFor="let itemrow of encuestasForm.controls.itemRows.controls; let i=index"
                                [formGroupName]="i">
                                <div class="form-row">
                                    <div class="form-group col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 text-center">
                                                <label class="col-form-label col-md-6">
                                                    Sr(a). <strong style="color: black">{{nombreContacto}}</strong>, por
                                                    favor seleccione la sucursal que desea evaluar:
                                                </label>
                                                <select ng-readonly="" formControlName="sucursalEncuestas"
                                                    class="form-control" style="float: right;"
                                                    (change)="open($event.target.value)">
                                                    <option value="" disabled="true" [selected]="true">Seleccione una
                                                        opción
                                                    </option>
                                                    <option *ngFor="let s of sucursalEncuestas" [value]="s.id">
                                                        {{s.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="contEncuesta == 1" class="col-md-12" style="text-align: center;">
                        <button (click)="continuarEncuesta()" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                Continuar Encuesta
                        </button>
                    </div>
                    <div *ngIf="sucursalEscogida == true" class="col-md-12" style="text-align: center;">
                        <label class="col-form-label col-md-6" style="margin: 10px;">
                            Sr(a). <strong style="color: black">{{nombreContacto}}</strong>, por
                            favor seleccione los servicios de la sucursal que escogio anteriormente:
                        </label>
                        <!-- ============================== TABLE ============================== -->
                        <div class="table-responsive text-center">
                            <table class="table table-striped table-bordered" [mfData]="data" #mf="mfDataTable"
                                [mfRowsOnPage]="rowsOnPage">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; overflow: hidden;" class="text-center">
                                            Check
                                        </th>
                                        <th style="width: 60%" class="text-center">
                                            Servicios
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let servicio of servicios" onclick="">
                                        <td scope="row">
                                            <input type="checkbox"
                                                (change)="guardarServicio(servicio[0] + '-' + $event.target.checked)">
                                        </td>
                                        <td scope="row" style="overflow-x:auto">{{servicio[1]}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- ============================== FIN TABLA ===================================== -->
                        <div class="col-md-12">
                            <div class="center-block">
                                <button (click)="generarEncuesta()"
                                    class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                    Generar Encuesta</button>
                            </div>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>