<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de solicitudes'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th scope="col">Detalle</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">OS</th>
                            <th scope="col">Solicitud</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Material</th>
                            <th scope="col">Lote</th>
                            <th scope="col">Cant. Recogida</th>
                            <th scope="col">UN</th>
                            <th scope="col">Embalaje</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of data">
                            <td scope="row"> <img src="../../../assets/images/visualizar.png" width="25px" height="25px"
                                    alt="visualizar" (click)="open(content,service[0])"></td>
                            <td scope="row">{{service[2]}}</td>
                            <td>{{service[3]}}</td>
                            <td>{{service[1]}}</td>
                            <td *ngIf="service[4] == 11170056;" class="Color1">APROBADA</td>
                            <td *ngIf="service[4] == 11170057;" class="Color2">RECHAZADA</td>
                            <td *ngIf="service[4] == null;" class="Color3">DESCARGADA</td>
                            <td>{{service[5]}}</td>
                            <td>{{service[6]}}</td>
                            <td>{{service[7]}}</td>
                            <td>{{service[9]}}</td>
                            <td>{{service[8]}}</td>
                            <td scope="row"><button class="btn btn-outline-success" type="button"
                                    (click)="confirm(aprobar, service[0])">Aprobar</button></td>
                            <td scope="row"><button class="btn btn-outline-danger" type="button"
                                    (click)="confirm(rechazo, service[0])">Rechazar</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalle Referencias</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Referencia</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">UN</th>
                    <th scope="col">Embalaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of referencias">
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #aprobar let-c="close" let-d="dismiss">
    <form [formGroup]="aprobacion">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Aprobación de Pesos</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><span>¿Seguro que desea aprobar?</span>
                <br> Fecha: {{fecha}}
            </p>
            <input formControlName="id" type="hidden" name="id" id="id" value="{{id}}">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cancelar</button>
            <button type="button" ngbAutofocus class="btn btn-success"
                (click)="saveAproved(id); d('Cross click');">Confirmar</button>
        </div>
    </form>
</ng-template>
<ng-template #rechazo let-c="close" let-d="dismiss">
        <form [formGroup]="reason">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Confirmar Rechazo</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>MOTIVO RECHAZO</strong><strong style="color: red">*</strong></p>
            <input formControlName="motivo" type="text" placeholder="Este campo es obligatorio"
            class="Buttonclass form-control" />
        </div>
        <div class="modal-footer" *ngIf="reason.valid">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cancelar</button>
            <button type="button" ngbAutofocus class="btn btn-success" (click)="saveRechazo(reason.value, id); d('Cross click');">Confirmar</button>
        </div>
    </form>
</ng-template>