<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="tipoContacto == 150833"> <!--Id Interventor QA: 150833 --> <!--Id Interventor PRD: 14407099 -->
            <!-- Basic Form Inputs card start -->
            <app-card [title]="'ANS ATICA-CLIENTE'">
                <div class="card-header">
                    <p class="m-b-20 text-center" style="font-size: 15px">Estimado cliente <strong>{{nombreContacto}}</strong> le damos la bienvenida a nuestro módulo de evaluación del Acuerdo de Nivel del Servicio ANS, <br>
                        para nosotros es importante conocer su experiencia frente a los compromisos realizados del servicio recibido durante este tiempo.
                    </p>
                </div>
                <form [formGroup]="ansForm">
                    <div formArrayName="itemRows">
                        <div *ngFor="let itemrow of ansForm.controls.itemRows.controls; let i=index"
                            [formGroupName]="i">
                            <div class="form-row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12 text-center">
                                            <label class="col-form-label col-md-10" style="font-size: 16px; margin: 10px;">
                                                <strong style="color: black;">{{nombreContacto}}</strong>, por favor seleccione la sucursal que desea evaluar:
                                            </label>
                                            <select ng-readonly="" formControlName="sucursalAns" class="form-control" style="float: right;">
                                                <option value="" disabled="true" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let s of sucursalAns" [value]="s.id">{{s.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="ansForm.valid" class="col-md-12">
                                    <div class="center-block">
                                        <button (click)="calificacionAns()"
                                            class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                            Ver ANS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
            </div>
        </div>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>