<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de facturas'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped"
                    [mfData]="data | dataFilter : filterQuery : 1 | dataFilter : filterQueryDate : 3 | dataFilter : filterQuerySol : 4"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por Num de factura: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="Ingrese el número de factura" class="form-control"
                                    [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por fecha de factura: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="año/mes/dia" class="form-control" [(ngModel)]="filterQueryDate" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por Num de solicitud: </label>
                            </th>
                            <th colspan="2">
                                <input placeholder="Ingrese el número de solicitud" class="form-control"
                                    [(ngModel)]="filterQuerySol" />
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">No. Factura</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Documento</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Fecha creación</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="id">Solicitudes</mfDefaultSorter>
                            </th>

                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service[1] }}</td>
                            <td>
                                <button type="button" (click)="openPdf(service[0])" class="btn btn-link">
                                    <i class="icofont icofont-file-pdf"></i>
                                </button>
                            </td>
                            <td scope="row">{{ service[3] }}</td>
                            <td scope="row">{{ service[4] }}</td>

                            <td *ngIf="service[2] == 8739141; else falsyTemplate">
                                Pre-Factura
                            </td>
                            <ng-template #falsyTemplate>
                                <td>
                                    Factura
                                </td>
                            </ng-template>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty></ng2-toasty>