<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical"
  vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType"
  [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme5">
            <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
                <i class="ti-menu"></i>
              </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="./assets/images/logo.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i
                      class="ti-menu f-18"></i></a></div>
              </li>
              <!-- <li>
                  <a href="javascript:;" appToggleFullscreen>
                    <i class="ti-fullscreen"></i>
                  </a>
                </li>-->
              <li class="mega-menu-top">
                <button (click)="open(content);"  id="texto" class="btn btn-primary">Lineas de Negocio</button>
                <span style="color:aliceblue">{{LineaActual}}</span>
                <!--<a>
                    Líneas de negocios
                   <i class="ti-angle-down"></i>
                  </a>

                  <ul class="show-notification row">
                    <li class="col-sm-4" *ngFor="let data of bussines">
                      <h6 class="mega-menu-title">{{data[0]}}</h6>
                      <ul class="mega-menu-links">
                        <li><small class="text-muted">{{data[1]}}
                          </small></li>
                        <li><button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i
                              class="icofont icofont-user"></i>CONTACTAR</button></li>
                      </ul>
                    </li>
                       <li class="col-sm-4">              
                        <h6 class="mega-menu-title">GERI</h6>
                        <ul class="mega-menu-links">
                            <li> <small class="text-muted">aseguramos la destrucción de productos alimenticios, químicos, empaques, repuestos y todos los elementos que representen un riesgo de marca. Se pueden utilizar tres tipos de procesos: Destrucción Mecánica, Destrucción Térmica o Transformación.
                            </small></li>
                            <li><button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-cubes"></i>CONTACTAR</button></li>
                        </ul>
                    </li>
                    <li class="col-sm-4">
                      <h6 class="mega-menu-title">PROTECCIÓN DE MARCA</h6>
                      <ul class="mega-menu-links">
                          <li> <small class="text-muted">Aseguramos la destrucción de productos alimenticios, químicos, empaques, repuestos y todos los elementos que representen un riesgo de marca. Se pueden utilizar tres tipos de procesos: Destrucción Mecánica, Destrucción Térmica o Transformación.
                          </small></li>
                          <li><button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-shield-alt"></i>CONTACTAR</button></li>
                      </ul>
                  </li>
                    <li class="col-sm-4">
                      <h6 class="mega-menu-title">ACEITES</h6>
                      <ul class="mega-menu-links">
                          <li> <small class="text-muted">Procesamiento de aceites usados con la última tecnología para obtener sustitutos de combustibles industriales. Entre ellos se pueden encontrar: Fondos de proceso, Sustituto de fuel oil, base lubricante parafínica liviana, aceite procesado sustituto de ACPM, Combustible a la medida.
                          </small></li>
                          <li><button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-test-bulb"></i>CONTACTAR</button></li>
                      </ul>
                  </li>
                  <li class="col-sm-4">
                    <h6 class="mega-menu-title">PROCESADOS</h6>
                    <ul class="mega-menu-links">
                        <li> <small class="text-muted">Transformación de plásticos. Densificamos materiales plásticos recuperables a partir de residuos industriales, con tecnología de punta. Reintegramos materias primas. Trabajando en conjunto con los consumidores, la industria del reciclaje y de manufactura por la recuperación. 
                        </small></li>
                        <li><button (click)="contact('solidos')" class="btn btn-primary btn-outline-primary"><i class="icofont icofont-recycle"></i> CONTACTAR</button></li>
                    </ul>
                </li> 
              </ul>-->
              </li>


            </ul>

            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="header-notification">
                <!--   <a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge">5</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="./assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">César López Garcia</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="./assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul> -->
              </li>
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <!-- <img src="./assets/images/avatar-6.png" alt="User-Profile-Image"> -->
                  <span>{{dataCont[1]}}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <!--<li>
                    <a href="javascript:">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/authentication/lock-screen']" target="_blank">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>-->
                  <li>
                    <a href="" (click)="logout();"><i class="ti-layout-sidebar-left"></i> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5"
          sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="absolute"
          (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px"
            color="#fff" opacity="0.3" allowPageScroll="false">
            <div class="">
              <div class="main-menu-header">
                <!-- <img class="img-40" src="./assets/images/avatar-6.png" alt="User-Profile-Image"> -->
                <div class="user-details">
                  <span>{{dataCont[1]}}</span>
                  <span id="more-details" (click)="toggleOpenedSidebar()">Cliente<i class="ti-angle-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                    <!-- <a href="javascript:"><i class="ti-user"></i>View Profile</a>
                    <a href="javascript:"><i class="ti-settings"></i>Settings</a> -->
                    <a href="" (click)="logout()"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div *ngFor="let asideItems of menuItems.getAll()">
                <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">{{asideItems.label}}</div>
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid"
                  subitem-border="solid" *ngFor="let asideItem of asideItems.main" appAccordionLink
                  group="{{asideItem.state}}">
                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink
                    group="{{asideItem.state}}">
                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}"
                      appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge"
                        class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink
                    group="{{asideItem.state}}">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]"
                      target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
                      *ngIf="asideItem.main_state; else: mainContent">
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge"
                        class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}"
                        appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>
                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu"
                    dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge"
                        class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                        <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                          <a [routerLink]="['/', asideItem.state, asideChildren.state]"
                            target="{{asideChildren.target ? '_blank' : '_self'}}">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                              class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3"
                          subitem-icon="style6" *ngIf="asideChildren.type === 'sub'" appAccordionLink
                          group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <!-- <span class="pcoded-micon"><i class="ti-direction-alt"></i></span> -->
                            <!-- <span class="pcoded-micon"><i class="{{ asideChildren.icon}}"></i></span> -->
                            <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                              class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                            <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                              <li [routerLinkActive]="['active']">
                                <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]"
                                  target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                  <span class="pcoded-mtext" style="margin-left: 15px;">{{ asideChildrenSub.name }}</span>
                                  <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                                    class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                            </ng-template>
                          </ul>
                        </li>
                      </ng-template>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <spinner></spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<go-top-button [html]="htmlButton" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="100" [styles]="{
                    'right': '50px',
                    'bottom': '50px',
                    'top': 'auto',
                    'left': 'auto',
                    'width': 'auto',
                    'height': 'auto',
                    'background' : 'transparent'
                 }">
</go-top-button>
<div id="EmeLinea" (load)="alert('cont')">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Lineas de Negocio</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <button (click)="enviaLinea(iddataLineas1, dataLineas1)" class="btn btn-outline-primary btn-lg" [@visibility]="dataLineas1 ? 'show' : 'hidden'"
              style="width: 100%"><a href="#" (click)="enviaLinea(iddataLineas1, dataLineas1)"><img class="img-fluid" alt="img"
                  width="50px" height="50px" src="{{logo}}" id="{{iddataLineas1}}"> <span><a href="#">
                    {{dataLineas1}}</a>
                </span></a></button>
          </div>
          <div class="input-group">
            <button (click)="enviaLinea(iddataLineas2, dataLineas2)" class="btn btn-outline-primary btn-lg" [@visibility]="dataLineas2 ? 'show' : 'hidden'"
              style="width: 100%"><a href="#/dashboard" (click)="enviaLinea(iddataLineas2, dataLineas2)"><img class="img-fluid" alt="img"
                  width="50px" height="50px" src="{{logo1}}" id="{{iddataLineas2}}"> <span><a href="#/dashboard">
                    {{dataLineas2}}</a>
                </span></a></button>
          </div>
          <div class="input-group">
            <button (click)="enviaLinea(iddataLineas3, dataLineas3)" class="btn btn-outline-primary btn-lg" [@visibility]="dataLineas3 ? 'show' : 'hidden'"
              style="width: 100%"><a href="#" (click)="enviaLinea(iddataLineas3, dataLineas3)"><img class="img-fluid" alt="img"
                  width="50px" height="50px" src="{{logo2}}" id="{{iddataLineas3}}"> <span><a href="#">
                    {{dataLineas3}}</a>
                </span></a></button>
          </div>
          <div class="input-group">
            <button (click)="enviaLinea(iddataLineas4, dataLineas4)" class="btn btn-outline-primary btn-lg" [@visibility]="dataLineas4 ? 'show' : 'hidden'"
              style="width: 100%"><a href="#" (click)="enviaLinea(iddataLineas4, dataLineas4)"><img class="img-fluid" alt="img"
                  width="50px" height="50px" src="{{logo3}}" id="{{iddataLineas4}}"> <span><a href="#">
                    {{dataLineas4}}</a>
                </span></a></button>
          </div>
          <div class="input-group">
            <button (click)="enviaLinea(iddataLineas5, dataLineas5)" class="btn btn-outline-primary btn-lg" [@visibility]="dataLineas5 ? 'show' : 'hidden'"
              style="width: 100%"><a href="#" (click)="enviaLinea(iddataLineas5, dataLineas5)"><img class="img-fluid" alt="img"
                  width="50px" height="50px" src="{{logo4}}" id="{{iddataLineas5}}"> <span><a href="#">
                    {{dataLineas5}}</a>
                </span></a></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cerrar</button>
    </div>
  </ng-template>
</div>
<ng2-toasty [position]="position" ></ng2-toasty>