<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Login card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img class="img-fluid" src="./assets/images/logo.png" alt="Theme-Logo">
            </div>
            <div class="auth-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center"><i class="icofont icofont-lock text-primary f-80"></i></h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Regresar a <a [routerLink]="['/authentication/login/with-bg-image']">Inicio de sesión.</a></p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-lock"></i> Lock Screen </button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="./assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Login card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
