<div class="row">
  <div class="col-md-12 col-xl-6">
    <!-- table card start -->
    <div class="card table-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-4">
                <a [routerLink]="['/materiales/materiales']">
                  <i class="icofont icofont-bricks text-success"></i>
                </a>
              </div>
              <div class="col-sm-8 text-center">
                <h5>{{CountMaterials}} </h5>
                <span>Materiales agregados</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-4">
                <a [routerLink]="['/servicios/solicitudes']">
                  <i class="icofont icofont-paper text-danger"></i>
                </a>
              </div>
              <div class="col-sm-8 text-center">
                <h5>{{CountServices}}</h5>
                <span>Solicitudes creadas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-4">
                <a [routerLink]="['/cotizacion/listado-cotizaciones']">
                  <i class="icofont icofont-stamp text-warning"></i>
                </a>
              </div>
              <div class="col-sm-8 text-center">
                <h5>{{CountCotizaciones}}</h5>
                <span>Cotizaciones creadas</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-4">
                <a [routerLink]="['/invoice/facturas']">
                  <i class="icofont icofont-presentation text-success"></i>
                </a>
              </div>
              <div class="col-sm-8 text-center">
                <h5>{{CountFacturas}}</h5>
                <span>Facturas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-4">
                <i class="icofont icofont-files text-info"></i>
              </div>
              <div class="col-sm-8 text-center">
                <h5>{{CountCertificates}}</h5>
                <span>Certificados generados</span>
              </div>
            </div>
          </div>
         <!-- <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-4">
                <i class="icofont icofont-envelope-open text-warning"></i>
              </div>
              <div class="col-sm-8 text-center">
                <h5>120</h5>
                <span>Mails</span>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!-- table card end -->
  </div>
  <div class="col-md-12 col-xl-6">
    <div class="tab-pane active" id="personal" role="tabpanel">
      <!-- personal card start -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-header-text text-primary">Tip Ambiental</h5>
        </div>
        <div class="card-block">
          <div class="view-info">
            <div class="row">
              <div class="col-lg-12">
                <div class="view-desc">
                  <img class="img-fluid" alt="Tip" src="{{tip}}">
                </div>

              </div>
              <!-- end of general info -->
            </div>
            <!-- end of col-lg-12 -->
          </div>
          <!-- end of row -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12 col-xl-4">
    <div class="card table-card">
      <div class="row-table">
        <div class="col-sm-6 card-block-big br">
          <div class="row">
            <div class="col-sm-4">
              <div style="height:40px;width:40px;">
                <span class="resource-barchart1"></span>
              </div>
            </div>
            <div class="col-sm-8 text-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-block-big">
          <div class="row ">
            <div class="col-sm-4">
              <i class="icofont icofont-network text-primary"></i>
            </div>
            <div class="col-sm-8 text-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-block-big br">
          <div class="row ">
            <div class="col-sm-4">
              <div style="height:40px;width:40px;">
                <span class="resource-barchart2"></span>
              </div>
            </div>
            <div class="col-sm-8 text-center">
              <h5>350</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-block-big">
          <div class="row ">
            <div class="col-sm-4">
              <i class="icofont icofont-network-tower text-primary"></i>
            </div>
            <div class="col-sm-8 text-center">
              <h5>100%</h5>
              <span>Connections</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-12 col-xl-6">
    <!-- widget primary card start 
    <div class="card table-card widget-success-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-check-circled"></i>
          </div>
          <div class="col-sm-9">
            <h4>150 </h4>
            <h6>Documentos aceptados</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="card table-card widget-primary-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-close-line-circled"></i>
          </div>
          <div class="col-sm-9">
            <h4>5</h4>
            <h6>Documentos pendientes de aceptación</h6>
          </div>
        </div>
      </div>
    </div> 
widget-success-card end -->
  </div>
  <!--
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-border-primary">
          <div class="card-header">
            <h5>John Doe </h5>
            <div ngbDropdown class="dropdown-secondary dropdown f-right">
              <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown6" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-danger"></span>Pending</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-warning"></span>Paid</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item waves-light waves-effect active" href="javascript:"><span class="point-marker bg-success"></span>On Hold</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-info"></span>Canceled</a>
              </div>
              <span class="f-left m-r-5 text-inverse">Status : </span>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list list-unstyled">
                  <li>Invoice #: &nbsp;0028</li>
                  <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list list-unstyled text-right">
                  <li>$8,750</li>
                  <li>Method: <span class="text-semibold">Paypal</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <p class="task-due"><strong> Due : </strong><strong class="label label-success">23 hours</strong></p>
            </div>
            <div class="task-board m-0">
              <a href="javascript:" class="btn btn-info btn-mini b-none"><i class="icofont icofont-eye-alt m-0"></i></a>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-ui-alarm"></i> Print Invoice</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-attachment"></i> Download invoice</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-spinner-alt-5"></i> Edit Invoice</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-ui-edit"></i> Remove Invoice</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card card-border-primary">
          <div class="card-header">
            <h5>John Doe </h5>
            <div ngbDropdown class="dropdown-secondary dropdown f-right">
              <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown6" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-danger"></span>Pending</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-warning"></span>Paid</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item waves-light waves-effect active" href="javascript:"><span class="point-marker bg-success"></span>On Hold</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:"><span class="point-marker bg-info"></span>Canceled</a>
              </div>
              <span class="f-left m-r-5 text-inverse">Status : </span>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list list-unstyled">
                  <li>Invoice #: &nbsp;0028</li>
                  <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list list-unstyled text-right">
                  <li>$8,750</li>
                  <li>Method: <span class="text-semibold">Paypal</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <p class="task-due"><strong> Due : </strong><strong class="label label-warning">23 hours</strong></p>
            </div>
            <div class="task-board m-0">
              <a href="javascript:" class="btn btn-info btn-mini b-none"><i class="icofont icofont-eye-alt m-0"></i></a>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-ui-alarm"></i> Print Invoice</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-attachment"></i> Download invoice</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-spinner-alt-5"></i> Edit Invoice</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:"><i class="icofont icofont-ui-edit"></i> Remove Invoice</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <h5 class="text-muted">
      <strong>Indicadores</strong>
    </h5>
    <p></p>
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary btn-sm">Semana</button>
        <button class="btn btn-primary btn-sm">Mes</button>
        <button class="btn btn-primary btn-sm">Año</button>
      </div>
      <div class="card-block">
        <div id="morris-extra-area"></div>
      </div>
    </div>
  </div>-->
  <!--
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-facebook">
        <h3>1165 +</h3>
        <span class="m-t-10">Facebook Users</span>
        <i class="icofont icofont-social-facebook"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <h3>780 +</h3>
        <span class="m-t-10">Twitter Users</span>
        <i class="icofont icofont-social-twitter"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-linkein">
        <h3>998 +</h3>
        <span class="m-t-10">Linked In Users</span>
        <i class="icofont icofont-brand-linkedin"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-google-plus">
        <h3>650 +</h3>
        <span class="m-t-10">Google Plus Users</span>
        <i class="icofont icofont-social-google-plus"></i>
      </div>
    </div>
  </div> -->

  <div class="col-lg-12" ng-init="data">

    <div class="card">
      <div class="card-header text-center">
        <h5 class="card-header-text text-primary">Solicitudes</h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-lg-1">
            <span class="verticaltext">
              <b>Cantidad</b>
            </span>
          </div>
          <div class="col-lg-11 text-center">
            <div id="morris-extra-area"></div>
            <span>
              <b>Periodo (mes).</b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright<br>
        Industria Ambiental SAS Diseñado por Atica
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
</div>