<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Form Inputs card start -->
      <app-card [title]="'Detalle de PQS'">
          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <form>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">No PQS</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Q - 0004563"
                      readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Tipo de petición</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="QUEJA" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Hora y fecha de creación</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="8:36 a.m --- 27/06/2018"
                      readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Estado de PQS</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="ABIERTA" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Ver adjuntos</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="You can't change me" readonly>
                  </div>
                </div>
              </form>
              <h4 class="sub-title">DETALLE</h4>
              <form>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Proceso</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="xxxxx"
                        readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Servicio</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="12112312" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Detalle</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Detalle del servicio"
                        readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Compromiso</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Se comprometa a ..." readonly>
                    </div>
                  </div>
                </form>
            </div>
          </div>
          <div class="row m-t-30">
            <div class="col-md-12">
              <div class="center-block">
                <button (click)="addNewRow(itemrow)" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">CALIFICAR PQS</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="center-block">
                <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
              </div>
            </div>
          </div>
      </app-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>