<div class="row">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/servicio-al-cliente/crear-pqs']" class="btn btn-primary m-r-1 m-b-10 float-right">
            <i class="icofont icofont-plus"></i> Crear PQS
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de solicitudes'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery : 0" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label>Filtro por No de PQS: </label>
                            </th>
                            <th colspan="2">
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <mfDefaultSorter by="name">Fecha de creación</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">No. de PQS</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="id">Tipo de PQS</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Proceso</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Compromiso</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service.Sucursal }}</td>
                            <td scope="row">{{ service.OS}}</td>
                            <td scope="row">{{ service.Solicitud }}</td>
                            <td scope="row">{{ service.Estado }}</td>
                            <td scope="row"><button (click)="view()" class="btn btn-primary">{{ service.Material }}</button></td>
                            <td scope="row">{{ service.Reportada }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>