<div class="row">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/servicios/crear-solicitud']"
            class="btn btn-primary m-r-1 m-b-10 float-right">
            <i class="icofont icofont-plus"></i> Crear Solicitud
        </button>
        <button type="button" [routerLink]="['/cotizacion/create']"
            class="btn btn-primary m-r-10 m-l-20 m-b-10 float-right">
            <i class="icofont icofont-bag-alt"></i> Solicitar cotización
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Basic table card start -->
        <app-card [title]="'Listado de solicitudes'" [classHeader]="false" [blockClass]="'table-border-style'">
            <div class="table-responsive">
                <table class="table table-striped"
                    [mfData]="data | dataFilter : filterQuery : 'OS' | dataFilter: filterQuerySuc: 'Sucursal' | dataFilter: filterQueryFecha: 'servicio' "
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="1">
                                <label>Filtro por orden de servicio: </label>
                            </th>
                            <th colspan="2">
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                            <th colspan="1">
                                <label>Filtro por Sucursal: </label>
                            </th>
                            <th colspan="2">
                                <input class="form-control" [(ngModel)]="filterQuerySuc" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1">
                                <label>Filtro por fecha de Servicio: </label>
                            </th>
                            <th colspan="5">
                                <input placeholder="año/mes/día" class="form-control" [(ngModel)]="filterQueryFecha" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <mfDefaultSorter by="name">Sucursal</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">OS</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="id">Solicitud</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Estado</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Almacen</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Dispositor</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Material</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Cant<br> Reportada</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Cant<br> Recogida</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">UN</mfDefaultSorter>
                            </th>
                            <!-- <th style="width: 10%">
                                <mfDefaultSorter by="name">Calculado Kg</mfDefaultSorter>
                            </th> -->
                            <th style="width: 10%">
                                <mfDefaultSorter by="name">Embalaje</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Cant <br> Embalaje</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="status">Fecha servicio</mfDefaultSorter>
                            </th>
                            <th *ngIf="pagoAnticipado" style="width: 10%">
                                <mfDefaultSorter by="status">Valor</mfDefaultSorter>
                            </th>
                            <!-- <th style="width: 10%">
                                <mfDefaultSorter by="name">Factura</mfDefaultSorter>
                            </th> -->

                            <th style="width: 5%">
                                <mfDefaultSorter by="name">Anular</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                            Sucursal
                            OS 0
                            Solicitud 1
                            Estado 6
                            Material 2
                            Reportada 3
                            Recogida 9
                            UN 4
                            Embalaje 
                            Embalaje
                            Fecha
                            Valor
0No_Os,Consecutivo_SS,Nom_Material,Cantidad_en_Kg,Nom_Embalaje,Cantidad_Embalaje,status%23value,%20id,%20Valor_solicitud,%20Peso_Recogidos_Kg,Peso_Aproximado_Kg,%23YEAR(Compromiso_Servicio),%23MONTH(Compromiso_Servicio),%23DAY(Compromiso_Servicio),UM_P_Venta,UM_P_Compra,Sucursal%20from%20Solicitud_Servicio%20where%20R8634058=9594108%20and%20status%23value%20is%20not%20null%20order%20by%20id%20Desc&sessionId=6d96052e9ad34c88ab0347477412f408@8012571 
        "2000210", "036020593", "CARBONILOS DE CROMO HEXAVALENTE  A1040", 32, "Cajas", 21, "Pendiente de Programación", 9776303, 28800, 0, 0, 2018, 8, 5, 8151546, null, 9594603],
[ 9999
                        
        "2000210", "036020594", "DESECHOS DE PEROXIDO DE HIDROGENO  A4120", 56, "Cajas", 1, "Pendiente de Programación", 9776304, 56000, 0, 0, 2018, 8, 5, 8151546, null, 9594603, "2018/08/05", "KG", "HOSPITAL MILITAR CENTRAL"
                        
        Sucursal: sucName,
                    OS: data[0],
                    Solicitud: data[1],
                    Estado: data[6],
                    Material: data[2],
                    Reportada: data[3],
                    Recogida: data[9],
                    UN: uniName,
                    Embalaje: data[4],
                    CtnEmbalaje: data[5],
                    servicio: resFecha,
                    Valor: data[8]
    -->
                        <tr *ngFor="let service of mf.data" onclick="">
                            <td scope="row">{{ service.Sucursal}}</td>
                            <td scope="row">{{ service.OS}}</td>
                            <td scope="row">{{ service.Solicitud }}</td>
                            <td scope="row">{{ service.Estado }}</td>
                            <td scope="row">{{ service.almacen }}</td>
                            <td scope="row">{{ service.dispositor }}</td>
                            <td scope="row">{{ service.Material }}</td>
                            <td scope="row">{{ service.Reportada }}</td>
                            <td scope="row">{{ service.Recogida }}</td>
                            <td scope="row">{{ service.UN }}</td>
                            <td scope="row">{{ service.Embalaje }}</td>
                            <td scope="row">{{ service.CtnEmbalaje }}</td>
                            <td scope="row">{{ service.servicio }}</td>

                            <td *ngIf="pagoAnticipado" scope="row">{{ service.Valor | currency:'USD':true}}</td>
                            <td *ngIf="(service.Estado == 'Pendiente de Liberación Cartera'); else falsyTemplate">
                                <button type="button" (click)="delete(service.id)" class="btn btn-link">
                                    <i class="icofont icofont-ui-delete"></i>
                                </button>
                            </td>
                            <ng-template #falsyTemplate>
                                <td></td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>