<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <app-card [title]="'Asistente para la creación de PQS'">
                <div class="card-header">
                    <p class="m-b-20 text-center">Le damos la Bienvenida a nuestro módulo de creación de solicitudes,
                        Quejas, Peticiones
                        y Sugerencias.<br>
                        ¡Trabajamos para fortalecer nuestro servicio y continuar el camino hacia la excelencia
                        operativa!
                    </p>
                </div>
                <form [formGroup]="pqsForm">
                    <div formArrayName="itemRows">
                        <div *ngFor="let itemrow of pqsForm.controls.itemRows.controls; let i=index"
                            [formGroupName]="i">
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label col-md-6">
                                                <strong>Tipo PQS<strong style="color: red">*</strong></strong>
                                            </label>
                                            <select ng-readonly="" formControlName="tipoPqs" class="form-control"
                                                style="float:right">
                                                <option value="" disabled="true" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let tipo of tipoPqs" [value]="tipo.id">{{tipo.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label col-md-5">
                                                <strong>Proceso a reportar<strong style="color: red">*</strong></strong>
                                            </label>
                                            <select ng-readonly="" formControlName="proceso" class="form-control"
                                                style="float:right" (change)="cargaServicio($event.target.value)">
                                                <option value="" disabled="true" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let p of proceso" [value]="p[0]">{{p[1]}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label col-md-5">
                                                <strong>Servicio a reportar<strong
                                                        style="color: red">*</strong></strong>
                                            </label>
                                            <select ng-readonly="" formControlName="servicio" class="form-control"
                                                style="float:right"  (change)="cargaMotivo($event.target.value)">
                                                <option value="" disabled="true" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let s of servicio" [value]="s.id">{{s.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label col-md-5">
                                                <strong>Motivo PQS</strong>
                                            </label>
                                            <select ng-readonly="" formControlName="motivo" class="form-control"
                                                style="float:right">
                                                <option value="" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let m of motivo" [value]="m.id">{{m.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-form-label col-md-5">
                                                <strong>Sucursal<strong style="color: red">*</strong></strong>
                                            </label>
                                            <select ng-readonly="" formControlName="sucursal" class="form-control"
                                                style="float:right">
                                                <option value="" disabled="true" [selected]="true">Seleccione una opción
                                                </option>
                                                <option *ngFor="let s of sucursal" [value]="s[0]">{{s[1]}}</option>    
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 mb-3 was-validated">
                                    <label for="validationTextarea" class="col-sm-2 col-form-label">
                                        <strong> Detalle<strong style="color: red">*</strong></strong>
                                    </label>
                                    <div class="col-sm-12">
                                        <textarea rows="5" formControlName="detalle" name="detalle" cols="5"
                                            class="form-control" id="validationTex"
                                            placeholder="Este campo es obligatorio. Por favor diligencie con brevedad el detalle de su PQS"
                                            ngModel></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label class="col-sm-12 col-form-label">
                                                <strong>Adjuntar evidencias</strong>
                                            </label>
                                            <input type="file" id="evidencia" formControlName="evidencia"
                                                name="evidencia" class="form-control" ngModel
                                                (change)="onFileChange($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="pqsForm.valid" class="col-md-12">
                                    <div class="center-block">
                                        <button (click)="open(content)"
                                            class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                            Enviar PQS</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="center-block">
                                        <button type="button" (click)="volver()"
                                            class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">Volver</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar envío de PQS</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Recuerde que puede verificar los detalles de la PQS antes de formalizarla.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="saveGetOut(); d('Cross click'); open(confirm); ">Confirmar</button>
    </div>
</ng-template>
<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="generic">PQS No. {{generic[0][1]}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¡PQS generada con éxito!
            <br>Recibirá notificación de la PQS creada al correo registrado.
            <br>En pocos minutos se verá reflejada su PQS en el Historial.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click'); getOut();">Salir</button>
        <button type="button" class="btn btn-success" (click)="recarga()">Crear Nueva PQS</button>
    </div>
</ng-template>
<ng2-toasty [position]="position"></ng2-toasty>