<div class="row">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/cotizacion/create']" class="btn btn-primary m-r-10 m-l-20 m-b-10 float-right">
          <i class="icofont icofont-plus"></i> Crear cotización
        </button>
        <button type="button" (click)="openSecure()" class="btn btn-primary  m-r-1 m-b-10 float-right">
          <i class="icofont icofont-arrow-down"></i> Descargar formato
        </button>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Basic table card start -->
    <app-card [title]="'Listado de materiales asociados'" [classHeader]="false" [blockClass]="'table-border-style'">
      <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="id">Identificador</mfDefaultSorter>
                </th>
                <th style="width: 80%">
                    <mfDefaultSorter by="id">Cotización</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="name">Hoja de seguridad</mfDefaultSorter>
                </th>
            </tr>
            <!--
            <tr>
                <th colspan="5">
                    Filter by id:
                    <input class="form-control" [(ngModel)]="filterQuery"/>
                </th>
            </tr> -->
            </thead>
            <tbody>
            <tr *ngFor="let service of data" onclick="">
              <td scope="row"></td>
              <td scope="row">{{ service[0] }}</td>
              <td scope="row">{{ service[1] }}</td>
              <td scope="row"><button (click)="goToUrl(service[0])" _ngcontent-c9="" class="btn btn-info btn-outline-info"><i _ngcontent-c9="" class="icofont icofont-info-square"></i>Ver</button></td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
              </tr>
              </tfoot>
          </table>
        </div>
    </app-card>
  </div>
</div>
