<div class="button-page">
	<div class="row">
		<div class="col-lg-12">
			<div class="md-tabs">
				<!-- personal card start -->
				<div class="card">
					<div class="card-header">
						<h5 class="card-header-text">Registrar intención</h5>
					</div>
					<div class="card-body">
						<div class="view-info">
							<div class="row">
								<div class="col-lg-12">
									<div class="general-info">
										<div class="row">
											<div class="col-lg-12 col-xl-12">
												<p class="m-b-20">Por favor ingrese la información necesaria para conocer su necesidad respecto a nuestros productos, para comunicarnos
													con usted y dar respuesta a su solicitud, además del texto, debe cargar la hoja de seguridad diligenciada</p>
												<form [formGroup]="form">
													<div class="form-group col-md-12 col-sm-12">
														<label class="col-sm-2 col-form-label">Solicitud</label>
														<div class="col-sm-12">
															<textarea rows="5" formControlName="cotizacion" name="cotizacion" cols="5" class="form-control" placeholder="Por favor ingrese su solicitud para ser atendida por uno de nuestros comerciales"
															 ngModel required></textarea>
														</div>
													</div>
													<div class="form-group col-md-12 col-sm-12">
														<div class="col-sm-12">
															<label class="col-sm-12 col-form-label">
																Hoja de seguridad ( Solo aplica para materiales ) 
															</label>
															<!-- <button class="btn btn-danger btn-outline-danger" onclick="document.getElementById('file').click();"><i class="icofont icofont-file-pdf"></i></button>-->
															<input type="file" id="secure" formControlName="secure" name="secure" class="form-control" (change)="onFileChange($event)"
															 ngModel/>
															<!-- <input style="visibility: hidden" accept=".pdf" required type="file" formControlName="secure" class="form-control"> -->
														</div>
													</div>
													<div *ngIf="form.valid" class="col-md-12">
														<div class="center-block">
															<button (click)="addNewRow(form.value)"  class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">AGREGAR OTRA COTIZACIÓN</button>
														</div>
													</div>
													<div *ngIf="form.valdi" class="col-md-12">
														<div class="center-block">
															<button (click)="save(form.value)" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">GUARDAR Y SALIR</button>
														</div>
													</div>
													<div class="col-md-12">
														<div class="center-block">
															<button  type="button" [routerLink]="['/cotizacion/listado-cotizaciones']" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
														</div>
													</div>
												</form>
											</div>
										</div>
										<!-- end of row -->
									</div>
									<!-- end of general info -->
								</div>
								<!-- end of col-lg-12 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng2-toasty [position]="position"></ng2-toasty>