<div class="row">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/materiales/crear-material']" class="btn btn-primary m-r-10 m-l-20 m-b-10 float-right">
          <i class="icofont icofont-plus"></i> Crear material
        </button>
        <button type="button" (click)="openSecure()" class="btn btn-primary  m-r-1 m-b-10 float-right">
          <i class="icofont icofont-arrow-down"></i> Descargar formato
        </button>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Basic table card start -->
    <app-card [title]="'Listado de materiales asociados'" [classHeader]="false" [blockClass]="'table-border-style'">
      <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">
                </th>
                <th style="width: 30%">
                    <mfDefaultSorter by="id">Sucursal </mfDefaultSorter>
                </th>
                <th style="width: 30%">
                  <mfDefaultSorter by="id">Agrupador</mfDefaultSorter>
              </th>
                <th style="width: 35%">
                    <mfDefaultSorter by="name">Material</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                    <mfDefaultSorter by="name">Tarifa</mfDefaultSorter>
                </th>
            </tr>
            <!--
            <tr>
                <th colspan="5">
                    Filter by id:
                    <input class="form-control" [(ngModel)]="filterQuery"/>
                </th>
            </tr> -->
            </thead>
            <tbody>
            <tr *ngFor="let service of data" onclick="">
              <td scope="row"></td>
              <td scope="row">{{ service[2] }}</td>
              <td scope="row">{{ service[1] }}</td>
              <td scope="row">{{ service[3] }}</td>
              <td scope="row">{{ service[4] | currency:'USD':true}}</td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
              </tr>
              </tfoot>
          </table>
        </div>
    </app-card>
  </div>
</div>
