<div class="button-page">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!-- Basic Form Inputs card start -->
      <app-card [title]="' '" [classHeader]="true" [blockClass]="'table-border-style'">
        <!--<span class="code-header">use class <code>table</code> inside table element</span> -->
        <div class="row">
          <div class="col-md-7">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Interventor:</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Nombre funcionario" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Coordinaro Operativo:</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Nombre funcionario" readonly>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Fecha de seg:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="12/09/2018" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Planta:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Planta A" readonly>
              </div>
            </div>
          </div>
        </div>
        <!-- <h4 class="sub-title">Lista de Chequeo</h4> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="3"></th>
                <th colspan="2" style="text-align: center">Cumplimiento</th>
                <th></th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Proceso</th>
                <th>Compromiso</th>
                <th style="text-align: center">Coordinador</th>
                <th style="text-align: center">Cliente</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="white-space: normal;">1</td>
                <td style="white-space: normal;">Administración centro de acopio</td>
                <td style="white-space: normal;">Industria Ambiental suministra oportunamente el listado de las
                  personas que trabajan para ellos, a Indegas S.A.S para el tramite de la autorización de ingreso?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="20" name="comment" form="usrform"></textarea></td>
              </tr>
              <tr>
                <td style="white-space: normal;">2</td>
                <td style="white-space: normal;">Administración centro de acopio</td>
                <td style="white-space: normal;">Las personas ofrecidas por Industria Ambiental para los procesos
                  dentro de Indegas S.A.S son en cantidad las que se relacionan en el contrato?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="20" name="comment" form="usrform"></textarea></td>
              </tr>
              <tr>
                <td style="white-space: normal;">3</td>
                <td style="white-space: normal;">Administración centro de acopio</td>
                <td style="white-space: normal;">Todos los trabajadores de Industria Ambiental cuentan con uniformes y
                  carnet que los identifique?</td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><input style="font-size: 30px; padding: 21px;" type="number" min="0" max="5" step="0.5" /></td>
                <td><textarea rows="4" cols="20" name="comment" form="usrform"></textarea></td>
              </tr>
              <tr>
                  <td style="font-size: 15px; padding: 21px; text-align: right; font-weight: bold; line-height: 5;" colspan="3">TOTAL RESULTADO NIVEL DE CUMPLIMIENTO</td>
                  <td><input style="font-size: 30px; padding: 21px;" type="number" readonly min="0" max="5" value="4.0" step="0.5" /></td>
                  <td><input style="font-size: 30px; padding: 21px;" type="number" readonly min="0" max="5" value="4.3" step="0.5" /></td>
                  <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="center-block">
              <h4 class="sub-title">Observaciones Generales</h4>
            </div>
          </div>
          <br><br>
          <div class="col-md-12">
              <textarea rows="4" style="min-width: 100%" name="comment" form="usrform" placeholder="(El usuario puede editar este campo, siempre y cuando, no haya elegido confirmar el envio del checklist de los funcionarios de IA)."></textarea>
          </div>
        </div> -->
        <br><br>
        <div class="row">
          <div class="col-md-12">
            <div class="center-block">
              <button (click)="getOut()" class="col-md-12 btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                ENVIAR LISTA DE CHEQUEO</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="center-block">
              <button (click)="getOut()" class="col-md-12 btn btn-success btn-md btn-block waves-effect text-center m-b-20">SALIR</button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>